.fancybox-bg {
	background: rgba($color: #134e26, $alpha: 0.9);
}

.fancybox__content {
	color: inherit;
	background: none;
	padding: 0;
}

.fancybox__content :focus:not(.carousel__button.is-close) {
	outline: none;
}

.fancybox-slide--html .fancybox-close-small {
	width: 54px;
	height: 54px;
	border-radius: 1000px;
	border: 1px solid rgba(255, 244, 244, 0.1);
	background: rgba(255, 255, 255, 0.1);
	backdrop-filter: blur(50px);
	-webkit-backdrop-filter: blur(50px);
	color: #fff;
	top: 20px;
	right: 20px;
	transition:
		background-color 0.3s ease,
		border-color 0.3s ease,
		color 0.3s ease;
	@media (any-hover: hover) {
		&:hover {
			border: 1px solid rgba(255, 244, 244, 0.5);
			background: rgba(255, 255, 255, 0.5);
			color: #000;
		}
	}
}

.popup {
	display: none;
	width: 100%;
	max-width: 560px;
	&.popup-lg {
		max-width: 662px;
	}
	border-radius: 20px;
	padding: 0;

	// .popup__body
	&__body {
		padding: 35px 15px;
		@media (min-width: $md5) {
			padding: 45px 56px;
		}
	}
	// .popup__title
	&__title {
	}
}
