.fancybox-bg {
	background: rgba($color: #000, $alpha: 0.5);
}

.fancybox-container {
	backdrop-filter: blur(7.5px);
	-wekbit-backdrop-filter: blur(7.5px);
}

.fancybox__content {
	color: inherit;
	background: none;
	padding: 0;
}

.fancybox__content :focus:not(.carousel__button.is-close) {
	outline: none;
}

.fancybox-slide--html .fancybox-close-small {
	@media (min-width: $md1) {
		width: 35px;
		height: 35px;
		padding: 0;
		color: #000;
		opacity: 1;
		transition: opacity 0.3s ease;
		position: absolute;
		top: 0;
		right: 0;
		@media (any-hover: hover) {
			&:hover {
				opacity: 0.7;
			}
		}
	}
}

.popup {
	display: none;
	width: 100%;
	padding: 0;
	border-radius: 20px 0 0 0;
	position: relative;
	max-width: 1620px;
	background: transparent;
	// .popup__body
	&__body {
		background: #fff;
		padding: 35px 15px;
		@media (min-width: $md5) {
			padding: 50px;
		}
	}
	// .popup__title
	&__title {
	}
	// .popup__body
	&__body {
	}
	// .popup__column
	&__columns {
		@media (min-width: $md1) {
			margin-right: -30px;
		}
	}
	// .popup__column
	&__column {
		gap: 30px;
		@media (min-width: $md1) {
			padding-right: var(--bs-gutter-x);
		}
		&.border-right {
			@media (max-width: $md1) {
				border-right: 0 !important;
			}
		}
	}
	// .popup__caption
	&__caption {
	}
	// .popup__text
	&__text {
		line-height: 160%;
		& ul {
			margin-top: 10px;
			li {
				padding-left: 39px;
				position: relative;
				font-weight: 500;
				&::before {
					position: absolute;
					top: 50%;
					transform: translateY(-50%);
					left: 0;
					flex-shrink: 0;
					font-size: 22px;
					color: #224737;
					@extend %ic, .icon-plus-square;
				}
				&:not(:last-child) {
					margin-bottom: 11px;
				}
			}
		}
	}
	// .popup__image
	&__image {
	}
}
