.promo {
	padding-top: $header;
	background:
		linear-gradient(180deg, rgba(251, 248, 246, 0) 85.26%, rgba(251, 248, 246, 0.54) 91.8%, #f5f5f0 100%),
		url("@img/promo-bg.jpg") center top / cover no-repeat;
	margin-bottom: 220px;
	// .promo__body
	&__body {
		padding-top: 80px;
	}
	// .promo__title
	&__title {
		max-width: 1200px;
	}
	// .promo__video
	&__video {
		margin-top: 90px;
		max-width: 100%;
		max-height: 1008px;
		width: 100%;
		object-fit: cover;
		min-height: 360px;
		margin-bottom: -220px;
	}
}

.popular-projects {
	padding: 135px 0 52px;
}

.features {
	padding: 55px 0 100px;
	// .features__title
	&__title {
	}
	// .features__subtitle
	&__subtitle {
		max-width: 564px;
		font-size: 21px;
	}
}
