.promo {
	padding-top: $header;
	background:
		linear-gradient(180deg, rgba(251, 248, 246, 0) 85.26%, rgba(251, 248, 246, 0.54) 91.8%, #f5f5f0 100%),
		url("@img/promo-bg.jpg") center top / cover no-repeat;
	margin-bottom: 220px;
	// .promo__body
	&__body {
		padding-top: 80px;
	}
	// .promo__title
	&__title {
		max-width: 1200px;
	}
	// .promo__video
	&__video {
		margin-top: 90px;
		max-width: 100%;
		max-height: 1008px;
		width: 100%;
		object-fit: cover;
		min-height: 360px;
		margin-bottom: -220px;
	}
}

.popular-projects {
	padding: 60px 0 25px;
	@media (min-width: $md4) {
		padding: 135px 0 52px;
	}
	// .popular-projects__tags
	&__tags {
		overflow-x: auto;
		gap: 20px;
		margin-top: 30px;
		@media (min-width: $md4) {
			margin-top: 50px;
			gap: 30px;
		}
	}
	// .popular-projects__tag
	&__tag {
		flex: 0 0 160px;
		@media (min-width: $md4) {
			flex: 0 0 240px;
		}
	}
	// .popular-projects__item
	&__item {
		padding-bottom: 26px;
		line-height: 95%;
		letter-spacing: -0.72px;
		color: #636363;
		border-bottom: 1px solid #656363;
		cursor: pointer;
		font-size: 18px;
		@media (min-width: $md4) {
			font-size: 24px;
		}
		&.active {
			font-weight: 500;
			color: #163a2d;
			border-bottom: 1px solid #224737;
		}
		@media (any-hover: hover) {
			&:hover {
				color: #163a2d;
			}
		}
	}
	// .popular-projects__content
	&__content {
		margin-top: 30px;
		@media (min-width: $md4) {
			margin-top: 85px;
			overflow: hidden;
		}
		.row {
			@media (min-width: $md4) {
				--bs-gutter-x: 0;
				--bs-gutter-y: 0;
				margin: -30px -30px 0;
			}
			& > * {
				@media (min-width: $md4) {
					padding: 30px;
					border-bottom: 1px solid rgba($color: #000, $alpha: 0.1);
				}
				@media (max-width: $md1) {
					@media (min-width: $md4) {
						&:nth-child(1),
						&:nth-child(2) {
							padding-top: 0;
						}
						&:nth-child(2n + 1) {
							border-right: 1px solid rgba($color: #000, $alpha: 0.1);
						}
					}
				}
				@media (min-width: $md1) {
					&:nth-child(3n + 1),
					&:nth-child(3n + 2) {
						border-right: 1px solid rgba($color: #000, $alpha: 0.1);
					}
					&:nth-child(1),
					&:nth-child(2),
					&:nth-child(3) {
						padding-top: 0;
					}
				}
			}
		}
	}
}

.features {
	padding: 55px 0 100px;
	// .features__title
	&__title {
	}
	// .features__subtitle
	&__subtitle {
		max-width: 564px;
		font-size: 21px;
	}
}
