.promo {
	padding-top: $header;
	background:
		linear-gradient(180deg, rgba(251, 248, 246, 0) 85.26%, rgba(251, 248, 246, 0.54) 91.8%, #f5f5f0 100%),
		url("@img/promo-bg.jpg") center top / cover no-repeat;
	margin-bottom: 220px;

	// .promo__body
	&__body {
		padding-top: 80px;
	}
	// .promo__title
	&__title {
		max-width: 1200px;
	}
	// .promo__media
	&__media {
		margin-top: 90px;
		margin-bottom: -220px;
		will-change: width, height, transform;
		max-width: 1620px;
		margin-inline: auto;
		display: block;
		&.cursor-active {
			cursor: none !important;

			* {
				cursor: none !important;
			}
		}
	}

	// .promo__video
	&__video {
		max-width: 100%;
		max-height: 1008px;
		width: 100%;
		object-fit: cover;
		min-height: 360px;
		will-change: width, height, transform;
	}
	// .promo__slide
	&__slide {
		will-change: width, height, transform;
		max-width: 100%;
		max-height: 1008px;
		width: 100%;
		object-fit: cover;
		min-height: 360px;
		& img {
			width: 100%;
			height: 100%;
			will-change: width, height, transform;
		}
	}
}

.promo-cursor {
	position: absolute;
	top: 0;
	left: 0;
	width: 80px;
	height: 80px;
	background-color: #fff;
	border-radius: 50%;
	pointer-events: none;
	z-index: 10;
	display: flex;
	align-items: center;
	justify-content: center;
	opacity: 0;
	transform: translate(-50%, -50%) scale(0);
	will-change: left, top, transform;

	&::after {
		content: "";
		width: 12px;
		height: 12px;
		border-top: 2px solid #000;
		border-right: 2px solid #000;
		transition: transform 0.3s ease;
	}

	&.is-left::after {
		transform: translateX(2px) rotate(-135deg);
	}

	&.is-right::after {
		transform: translateX(-2px) rotate(45deg);
	}
}

.popular-projects {
	padding: 60px 0 25px;
	@media (min-width: $md4) {
		padding: 135px 0 52px;
	}
	// .popular-projects__tags
	&__tags {
		overflow-x: auto;
		gap: 20px;
		margin-top: 30px;
		// scrollbar-width: none;
		@media (min-width: $md4) {
			margin-top: 50px;
			gap: 30px;
		}
	}
	// .popular-projects__tag
	&__tag {
		flex: 0 0 160px;
		@media (min-width: $md4) {
			flex: 0 0 220px;
		}
		@media (min-width: $md1) {
			flex: 0 0 240px;
		}
	}
	// .popular-projects__item
	&__item {
		padding-bottom: 26px;
		line-height: 95%;
		letter-spacing: -0.72px;
		color: #636363;
		border-bottom: 1px solid #656363;
		cursor: pointer;
		font-size: 18px;
		@media (min-width: $md4) {
			font-size: 24px;
		}
		&.active {
			font-weight: 500;
			color: #163a2d;
			border-bottom: 1px solid #224737;
		}
		@media (any-hover: hover) {
			&:hover {
				color: #163a2d;
			}
		}
	}
	// .popular-projects__content
	&__content {
		margin-top: 30px;
		@media (min-width: $md4) {
			margin-top: 85px;
			overflow: hidden;
		}
		.row {
			@media (min-width: $md4) {
				--bs-gutter-x: 0;
				--bs-gutter-y: 0;
				margin: 0 -30px;
			}
			& > * {
				@media (min-width: $md4) {
					padding: 30px;
					border-bottom: 1px solid rgba($color: #000, $alpha: 0.1);
				}
				@media (max-width: $md1) {
					@media (min-width: $md4) {
						&:nth-child(1),
						&:nth-child(2) {
							padding-top: 0;
						}
						&:nth-child(2n + 1) {
							border-right: 1px solid rgba($color: #000, $alpha: 0.1);
						}
					}
				}
				@media (min-width: $md1) {
					&:nth-child(3n + 1),
					&:nth-child(3n + 2) {
						border-right: 1px solid rgba($color: #000, $alpha: 0.1);
					}
					&:nth-child(1),
					&:nth-child(2),
					&:nth-child(3) {
						padding-top: 0;
					}
				}
			}
		}
	}
}

.features {
	padding: 40px 0 100px;
	// .features__title
	&__title {
	}
	// .features__subtitle
	&__subtitle {
		max-width: 564px;
		font-size: 21px;
	}
	// .features__body
	&__body {
		.row {
			--bs-gutter-x: 0;
			@media (max-width: $md3) {
				--bs-gutter-y: 0;
			}
		}
	}
	// .features__item
	&__item {
		@media (max-width: $md3) {
			border: 1px solid rgba(0, 0, 0, 0.1);
		}
		@media (any-hover: hover) {
			&:hover {
				.features__item-header {
					opacity: 1;
					visibility: visible;
				}
			}
		}
		&--bordered {
			@media (min-width: $md3) {
				border: 1px solid rgba(0, 0, 0, 0.1);
				&:nth-child(3n + 1),
				&:nth-child(3n + 2) {
					border-right: 0;
				}
			}
		}
	}
	// .features__item-info
	&__item-info {
		padding: 30px 20px;
		@media (min-width: $md2) {
			padding: 60px 30px;
		}
		@media (min-width: $md1) {
			padding: 60px;
		}
	}
	// .features__item-header
	&__item-header {
		margin-bottom: 20px;
		@media (any-hover: hover) {
			@media (min-width: $md4) {
				opacity: 0;
				visibility: hidden;
				transition: all 0.3s ease;
			}
		}
	}
	// .features__item-num
	&__item-num {
		color: #656363;
		font-size: 10px;
		font-weight: 700;
		letter-spacing: 1px;
	}
	// .features__item-icon
	&__item-icon {
	}
	// .features__item-title
	&__item-title {
		max-width: 220px;
	}
	// .features__item-desc
	&__item-desc {
		margin-top: 16px;
	}
}

.cases {
	padding: 30px 0 50px;
	&:last-child {
		padding-bottom: 90px;
	}
	@media (min-width: $md4) {
		padding: 70px 0 60px;
		&:last-child {
			padding-bottom: 120px;
		}
	}
	// .cases__main
	&__main {
		background: url("@img/substrate-green.svg") 100% 100% / auto calc(100% - 30px) no-repeat;
	}
	// .cases__title
	&__title {
		max-width: 1165px;
	}
	// .cases__subtitle
	&__subtitle {
		margin-top: 37px;
		font-size: 21px;
	}
	// .cases__content
	&__content {
		overflow: hidden;
		margin-top: 26px;
		border-top: 1px solid rgba($color: #000, $alpha: 0.1);
		&:first-child {
			margin-top: 0;
			border-top: 0;
			.row {
				@media (min-width: $md4) {
					margin-top: -30px;
				}
			}
		}
		.row {
			@media (min-width: $md4) {
				--bs-gutter-x: 0;
				--bs-gutter-y: 0;
				margin-inline: -15px !important;
			}
			@media (min-width: $md2) {
				margin-inline: -30px !important;
			}
			& > * {
				@media (min-width: $md4) {
					padding: 30px 15px;
					border-bottom: 1px solid rgba($color: #000, $alpha: 0.1);
				}
				@media (min-width: $md2) {
					padding: 30px;
				}

				@media (min-width: $md1) {
					border-right: 1px solid rgba($color: #000, $alpha: 0.1);
					border-bottom: 1px solid rgba($color: #000, $alpha: 0.1);
				}
			}
		}
	}
}

.news {
	padding: 30px 0;
	@media (min-width: $md4) {
		padding: 60px 0;
	}
	// .news__header
	&__header {
		gap: 16px;
	}
	// .news__title
	&__title {
	}
	// .news__more
	&__more {
		color: #000;
		font-family: Arial;
		font-size: 24px;
		line-height: 91.667%;
		text-decoration-line: underline;
		text-decoration-style: solid;
		text-decoration-skip-ink: none;
		text-decoration-color: #d0d0d0;
		text-decoration-thickness: auto;
		text-underline-offset: 25%;
		@media (any-hover: hover) {
			&:hover {
				text-decoration: none;
			}
		}
	}
	// .news__content
	&__content {
		margin-top: 30px;
	}
	&__slider {
		.slick-list {
			overflow: visible;
		}
		margin: 0 -15px;
		@media (min-width: $md0) {
			margin: 0 -30px;
		}
	}
	&__slide {
		height: auto;
		padding: 0 15px;
		@media (min-width: $md0) {
			padding: 0 30px;
		}
	}
	&__dots {
		@media (min-width: $md2) {
			display: none;
		}
		display: flex;
		justify-content: center;
		margin-top: 30px;

		.slick-dots {
			display: flex;
			list-style: none;
			padding: 0;
			margin: 0;

			li {
				margin: 0 5px;

				button {
					font-size: 0;
					width: 12px;
					height: 12px;
					border-radius: 50%;
					background-color: #ccc;
					border: none;
					transition: background-color 0.3s;
					cursor: pointer;
				}

				&.slick-active button {
					background-color: #000;
				}
			}
		}
	}
	// .news__card
	&__card {
		background: transparent;
	}
	// .news__card-main
	&__card-main {
		padding: 30px;
	}
	// .news__card-time
	&__card-time {
		color: rgba($color: #000, $alpha: 0.2);
	}
	// .news__card-name
	&__card-name {
		margin-top: 30px;
	}
	// .news__card-desc
	&__card-desc {
		margin-top: 20px;
		gap: 13px;
		& p {
			margin-bottom: 0;
		}
	}
	// .news__card-image
	&__card-image {
		height: 250px;
		margin: -1px;
	}
}

.calc {
	padding: 30px 0;
	@media (min-width: $md4) {
		padding: 60px 0 40px;
	}
	& .container > .row {
		@media (min-width: $md2) {
			--bs-gutter-y: 50px;
		}
	}
	// .calc__title
	&__title {
	}
	// .calc__info
	&__info {
		font-size: 21px;
		line-height: 142.857%;
		@media (min-width: $md2) {
			padding-left: 16px;
		}
	}
	// .calc__info-icon
	&__info-icon {
		width: 50px;
		height: 50px;
	}
	// .calc__info-text
	&__info-text {
		margin-top: 26px;
		max-width: 395px;
		padding-left: 8px;
	}
	// .calc__image
	&__image {
		&.parallax-image {
			@media (min-width: $md5) {
				height: 420px;
			}
		}
		&::before {
			content: "";
			position: absolute;
			top: 50%;
			transform: translate(50%, -50%);
			width: 227px;
			height: 77px;
			background: url("@img/logo-white.svg") 0 0 / cover no-repeat;
			z-index: 2;
			right: 50%;
			@media (min-width: $md5) {
				transform: translateY(-50%);
				right: 130px;
			}
		}
	}
	// .calc__body
	&__body {
	}
	// .calc__items
	&__items {
		.row {
			--bs-gutter-x: 25px;
			--bs-gutter-y: 14px;
		}
	}

	// .calc__item-btn
	&__item-btn {
		gap: 8px;
		color: #656363;
		font-family: Arial;
		padding-bottom: 24px;
		cursor: pointer;
		transition: all 0.3s ease;
		@media (max-width: $md4) {
			font-size: 18px;
			padding-bottom: 18px;
		}
		@media (max-width: $md5) {
			font-size: 16px;
			padding-bottom: 16px;
		}
		&.checked {
			color: #224737;
			&::before {
				transform: rotate(360deg);
				@extend %ic, .icon-minus;
			}
			&::after {
				height: 2px;
			}
		}
		&::before {
			order: 1;
			transition: transform 0.3s ease;
			width: 10px;
			height: 10px;
			font-size: 10px;
			flex-shrink: 0;
			@extend %ic, .icon-plus;
		}
		&::after {
			content: "";
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 1px;
			display: block;
			background: currentColor;
		}
	}
	// .calc__results
	&__results {
		min-height: 193px;
		color: #fff;
		font-size: 21px;
		line-height: 104.762%;
		padding: 30px;
		border-radius: 10px 0;
		background:
			url("@img/substrate.svg") 100% -30px / auto 383px no-repeat,
			#224737;
		transition: background-color 0.3s ease;
		&::before {
			align-self: flex-end;
			transition: transform 0.3s ease;
			font-size: 16px;
		}
		@media (min-width: $md2) {
			margin-left: 16px;
		}
		@media (any-hover: hover) {
			&:hover {
				&::before {
					transform: rotate(45deg);
				}
				background:
					url("@img/substrate.svg") 100% -30px / auto 383px no-repeat,
					darken($color: #224737, $amount: 5);
				color: #fff;
			}
		}
	}
}
