.promo {
	padding-top: $header;
	background:
		linear-gradient(180deg, rgba(251, 248, 246, 0) 85.26%, rgba(251, 248, 246, 0.54) 91.8%, #f5f5f0 100%),
		url("@img/promo-bg.jpg") center bottom / cover no-repeat;
	// .promo__video
	&__video {
		margin-top: 80px;
		max-width: 100%;
		max-height: 800px;
		width: 100%;
		object-fit: cover;
		min-height: 360px;
	}
}
