.order {
	padding: 90px 0 30px;
	@media (min-width: $md4) {
		padding: 120px 0 60px;
	}
	@media (min-width: $md1) {
		padding: 162px 0 60px;
	}
	// .order__content
	&__content {
		margin-top: 24px;
		@media (min-width: $md4) {
			margin-top: 50px;
		}
		.row {
			--bs-gutter-x: 30px;
			@media (min-width: $md1) {
				--bs-gutter-y: 50px;
			}
		}
	}
	// .order__image
	&__image {
	}
	// .order__steps
	&__steps {
	}
	// .order__step
	&__step {
		@media (min-width: $md5) {
			border-radius: 20px 0;
			background: #f1f1f1;
			padding: 30px;
		}
		&:not(:last-child) {
			margin-bottom: 30px;
		}
	}
	// .order__step-title
	&__step-title {
	}
	// .order__step-tooltip
	&__step-tooltip {
		position: relative;
		width: 30px;
		height: 30px;
		display: inline-block;
		z-index: 1;
		& img {
			position: relative;
			z-index: 1;
		}
	}
	// .order__step-body
	&__step-body {
		margin-top: 30px;
		.row {
			--bs-gutter-x: 20px;
			--bs-gutter-y: 20px;
		}
	}
	// .order__step-block
	&__step-block {
		cursor: pointer;
		border-radius: 0 0 10px 0;
		overflow: hidden;
		transition: opacity 0.3s ease;
		@media (any-hover: hover) {
			&:hover {
				opacity: 0.9;
				.order__step-bottom {
					&::before {
						transform: rotate(45deg);
					}
				}
			}
		}
	}
	// .order__step-input
	&__step-input {
		&:checked {
			& ~ .order__step-card {
				.order__step-bottom {
					background:
						url("@img/substrate-green.svg") 158px -31px / 351px 365px no-repeat,
						#fff;
					color: #224737;
					&::before {
						transform: none;
					}
				}
			}
		}
		&[type="checkbox"] {
			& ~ .order__step-card {
				.order__step-bottom {
					min-height: 133px;
				}
			}
		}
	}
	// .order__step-card
	&__step-card {
	}
	// .order__step-header
	&__step-header {
		padding: 30px;
		@media (min-width: $md5) {
			min-height: 173px;
		}
	}
	// .order__step-name
	&__step-name {
		line-height: 160%;
	}
	// .order__step-stats
	&__step-stats {
		margin-top: 30px;
		gap: 15px;
	}
	// .order__step-stat
	&__step-stat {
		gap: 15px;
		&:not(:last-child) {
			&::after {
				content: "";
				width: 5px;
				height: 5px;
				border-radius: 50%;
				background: rgba($color: #000000, $alpha: 0.3);
			}
		}
	}
	// .order__step-bottom
	&__step-bottom {
		padding: 30px;
		font-size: 18px;
		line-height: math.div(22, 18);
		border-radius: 0 0 10px 0;
		transition: all 0.15s ease;
		background:
			url("@img/substrate.svg") 158px -31px / 351px 365px no-repeat,
			#224737;
		color: #fff;
		@media (min-width: $md5) {
			min-height: 163px;
		}
		&::before {
			align-self: flex-end;
			transition: transform 0.3s ease;
		}
	}
	// .order__total
	&__total {
		@media (min-width: $md3) {
			position: sticky;
			top: calc($header + 46px);
			.header-scroll-bottom & {
				top: 16px;
			}
		}
	}
	// .order__total-header
	&__total-header {
		padding: 30px;
	}
	// .order__total-title
	&__total-title {
	}
	// .order__total-list
	&__total-list {
		margin-top: 30px;
	}
	// .order__total-row
	&__total-row {
		gap: 16px;
		@media (min-width: $md5) {
			font-size: 18px;
		}
		&:not(:last-child) {
			padding-bottom: 30px;
			margin-bottom: 30px;
		}
	}
	// .order__total-name
	&__total-name {
	}
	// .order__total-value
	&__total-value {
		display: flex;
		align-items: center;
		gap: 4px;
	}
	// .order__total-bottom
	&__total-bottom {
		background: #f1f1f1;
		padding: 30px;
	}
	// .order__total-text
	&__total-text {
	}
	// .order__total-price
	&__total-price {
		position: relative;
		display: inline-block;
		overflow: hidden;
		vertical-align: bottom;
		min-width: 50%;
	}
}

.price-anim-item {
	display: block;
	transition:
		transform 0.2s ease-in-out,
		opacity 0.2s ease-in-out;
}

.price-anim-item.new {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	opacity: 0;
}

#final-price.is-animating .price-anim-item.old {
	transform: translateY(-100%);
	opacity: 0;
}

#final-price.is-animating .price-anim-item.new {
	transform: translateY(-100%);
	opacity: 1;
}

.parallax-image {
	position: relative;
	width: 100%;
	height: 360px;
	@media (min-width: $md5) {
		height: 420px;
	}
	@media (min-width: $md2) {
		height: 520px;
	}
	img {
		width: 100%;
		height: 160%;
		object-fit: cover;
		object-position: center;
		position: absolute;
		top: -30%;
		left: 0;
	}
}
