.faq {
	padding: 30px 0;
	@media (min-width: $md4) {
		padding: 60px 0;
	}
	// .faq__title
	&__title {
	}
	// .faq__content
	&__content {
		border-bottom: 1px solid rgba($color: #000000, $alpha: 0.1);
		margin-top: 32px;
		@media (min-width: $md5) {
			margin-top: 62px;
		}
		@media (min-width: $md3) {
			border-bottom: 0;
		}
		.row {
			--bs-gutter-x: 0;
			--bs-gutter-y: 0;
			@media (min-width: $md3) {
				& > *:first-child {
					.faq__item {
						border-right: 1px solid rgba($color: #000000, $alpha: 0.1);
					}
				}
				& > *:last-child {
					margin-left: -1px;
					.faq__item {
						border-left: 1px solid rgba($color: #000000, $alpha: 0.1);
					}
				}
			}
		}
	}
	// .faq__item
	&__item {
		border-top: 1px solid rgba($color: #000000, $alpha: 0.1);
		@media (min-width: $md3) {
			&:last-child {
				border-bottom: 1px solid rgba($color: #000000, $alpha: 0.1);
			}
		}
	}
	// .faq__item-btn
	&__item-btn {
		gap: 16px;
		cursor: pointer;
		padding: 16px 20px;
		@media (max-width: $md5) {
			font-size: 18px;
		}
		@media (min-width: $md5) {
			padding: 30px 40px;
		}
		&.active {
			&::before {
				transform: rotate(45deg);
			}
		}
		&::before {
			order: 1;
			margin-left: auto;
			color: #224737;
			width: 24px;
			height: 24px;
			font-size: 24px;
			flex-shrink: 0;
			transition: transform 0.3s ease;
		}
	}
	// .faq__item-answer
	&__item-answer {
		display: none;
		padding: 0px 20px 16px 20px;
		@media (min-width: $md5) {
			padding: 0px 40px 30px 40px;
		}
	}
}
