.guarantees {
	padding: 30px 0;
	@media (min-width: $md4) {
		padding: 60px 0;
	}
	// .guarantees__title
	&__title {
	}
	// .guarantees__content
	&__content {
		margin-top: 59px;
	}
	// .guarantees__card
	&__card {
	}
	// .guarantees__card-header
	&__card-header {
		padding: 19px 30px;
		min-height: 313px;
	}
	// .guarantees__card-title
	&__card-title {
	}
	// .guarantees__card-desc
	&__card-desc {
		max-width: 410px;
	}
	// .guarantees__card-bottom
	&__card-bottom {
		background: #f1f1f1;
		.row {
			--bs-gutter-x: 0;
		}
	}
	// .guarantees__card-image
	&__card-image {
		position: relative;
		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			opacity: 0.5;
			background: #224737;
			mix-blend-mode: screen;
		}
	}
	// .guarantees__card-icon
	&__card-icon {
	}
}

.faq {
	padding: 30px 0;
	@media (min-width: $md4) {
		padding: 60px 0;
	}
	// .faq__title
	&__title {
	}
	// .faq__content
	&__content {
		border-bottom: 1px solid rgba($color: #000000, $alpha: 0.1);
		margin-top: 32px;
		@media (min-width: $md5) {
			margin-top: 62px;
		}
		@media (min-width: $md3) {
			border-bottom: 0;
		}
		.row {
			--bs-gutter-x: 0;
			--bs-gutter-y: 0;
			@media (min-width: $md3) {
				& > *:first-child {
					.faq__item {
						border-right: 1px solid rgba($color: #000000, $alpha: 0.1);
					}
				}
				& > *:last-child {
					margin-left: -1px;
					.faq__item {
						border-left: 1px solid rgba($color: #000000, $alpha: 0.1);
					}
				}
			}
		}
	}
	// .faq__item
	&__item {
		border-top: 1px solid rgba($color: #000000, $alpha: 0.1);
		@media (min-width: $md3) {
			&:last-child {
				border-bottom: 1px solid rgba($color: #000000, $alpha: 0.1);
			}
		}
	}
	// .faq__item-btn
	&__item-btn {
		gap: 16px;
		cursor: pointer;
		padding: 16px 20px;
		@media (max-width: $md5) {
			font-size: 18px;
		}
		@media (min-width: $md5) {
			padding: 30px 40px;
		}
		&.active {
			&::before {
				transform: rotate(45deg);
			}
		}
		&::before {
			order: 1;
			margin-left: auto;
			color: #224737;
			width: 24px;
			height: 24px;
			font-size: 24px;
			flex-shrink: 0;
			transition: transform 0.3s ease;
		}
	}
	// .faq__item-answer
	&__item-answer {
		display: none;
		padding: 0px 20px 16px 20px;
		@media (min-width: $md5) {
			padding: 0px 40px 30px 40px;
		}
	}
}
