.project {
	padding: 90px 0 30px;
	@media (min-width: $md4) {
		padding: 120px 0 60px;
	}
	@media (min-width: $md1) {
		padding: 158px 0 60px;
	}
	.row {
		@media (min-width: $md0) {
			--bs-gutter-x: 60px;
		}
	}
	// .project__image
	&__image {
	}
	// .project__title
	&__title {
		margin-top: 36px;
		@media (min-width: $md0) {
			font-size: 64px;
		}
	}
	// .project__desc
	&__desc {
		margin-top: 28px;
		font-size: 21px;
		line-height: 133.333%;
		& p {
			&:not(:last-child) {
				margin-bottom: 24px;
			}
		}
	}
	// .project__details
	&__details {
		margin-top: 23px;
		font-size: 18px;
		line-height: 155.556%;
	}
	// .project__actions
	&__actions {
		@media (min-width: $md1) {
			margin-top: 44px;
		}
	}
	// .project__action
	&__action {
		gap: 16px;
		padding: 21px 28px;
		transition: background-color 0.3s ease;
		flex: 0 0 100%;

		@media (min-width: $md5) {
			flex: 0 0 50%;
		}
		@media (any-hover: hover) {
			&:hover {
				background: rgba(0, 0, 0, 0.1);
			}
		}
	}
	// .project__action-text
	&__action-text {
		font-family: Arial;
		font-size: 12px;
	}
	// .project__action-icon
	&__action-icon {
		width: 24px;
		height: 24px;
	}
}

.benefits {
	padding: 30px 0;
	@media (min-width: $md4) {
		padding: 45px 0 60px;
	}
	.row {
		@media (min-width: $md0) {
			--bs-gutter-x: 60px;
			--bs-gutter-y: 55px;
		}
	}
	// .benefits__title
	&__title {
	}
	// .benefits__subtitle
	&__subtitle {
		margin-top: 20px;
		font-size: 21px;
		line-height: 133.333%;
		max-width: 751px;
		margin-bottom: 0;
	}
	// .benefits__card
	&__card {
	}
	// .benefits__card-header
	&__card-header {
		padding: 20px 31px 25px;
		min-height: 160px;
		@media (min-width: $md3) {
			min-height: 313px;
		}
	}
	// .benefits__card-caption
	&__card-caption {
	}
	// .benefits__card-desc
	&__card-desc {
	}
	// .benefits__card-image
	&__card-image {
		position: relative;
		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			opacity: 0.5;
			background: #224737;
			mix-blend-mode: screen;
		}
	}
}

.characteristics {
	padding: 30px 0;
	@media (min-width: $md4) {
		padding: 30px 0 60px;
	}

	// .characteristics__title
	&__title {
		@media (min-width: $md0) {
			padding-left: 8px;
			padding-bottom: 8px;
		}
	}
	// .characteristics__content
	&__content {
		@media (max-width: $md1) {
			border-top: 1px solid rgba($color: #000, $alpha: 0.1);
			border-left: 1px solid rgba($color: #000, $alpha: 0.1);
		}
		.row {
			--bs-gutter-x: 0;
			--bs-gutter-y: 0;
			.col-xxl-3 {
				@media (max-width: $md1) {
					border-right: 1px solid rgba($color: #000, $alpha: 0.1);
					border-bottom: 1px solid rgba($color: #000, $alpha: 0.1);
				}
				@media (min-width: $md1) {
					border: 1px solid rgba($color: #000, $alpha: 0.1);
					border-left: 0;
					&:nth-child(4n + 4) {
						border-right: 0;
					}
				}
			}
			.col-xxl-6 {
				@media (max-width: $md1) {
					border-right: 1px solid rgba($color: #000, $alpha: 0.1);
					border-bottom: 1px solid rgba($color: #000, $alpha: 0.1);
				}
				@media (min-width: $md1) {
					border-bottom: 1px solid rgba($color: #000, $alpha: 0.1);
				}
				&:nth-child(2n + 1) {
					@media (min-width: $md1) {
						border-right: 1px solid rgba($color: #000, $alpha: 0.1);
					}
				}
			}
		}
	}
	// .characteristics__card
	&__card {
		padding: 18px 20px;
		@media (min-width: $md5) {
			padding: 36px 40px;
		}
	}
	// .characteristics__card-info
	&__card-info {
		font-size: 19px;
	}
	// .characteristics__card-title
	&__card-title {
	}
	// .characteristics__card-list
	&__card-list {
		margin-top: 24px;
		font-size: 19px;
	}
	// .characteristics__card-item
	&__card-item {
		&:not(:last-child) {
			margin-bottom: 17px;
		}
	}
	// .characteristics__card-name
	&__card-name {
	}
	// .characteristics__card-value
	&__card-value {
	}
	// .characteristics__price-card
	&__price-card {
	}
	// .characteristics__link
	&__link {
		min-height: 226px;
		padding: 18px 20px;
		@media (min-width: $md5) {
			padding: 36px 40px;
		}
		@media (any-hover: hover) {
			&:hover {
				&::before {
					transform: rotate(45deg);
				}
			}
		}
		&::before {
			align-self: flex-end;
			width: 20px;
			height: 20px;
			font-size: 14px;
			transition: transform 0.3s ease;
		}
	}
}

.options {
	padding: 30px 0;
	@media (min-width: $md4) {
		padding: 90px 0 60px;
	}
	// .options__wrapper
	&__wrapper {
		padding: 111px 0;
		background: #f1f1f1;
		.row {
			@media (min-width: $md0) {
				--bs-gutter-x: 60px;
				--bs-gutter-y: 40px;
			}
		}
	}
	// .options__title
	&__title {
	}
	// .options__subtitle
	&__subtitle {
		margin-top: 19px;
		font-size: 21px;
		max-width: 795px;
	}
	// .options__card
	&__card {
		border-radius: 0 0 10px 0;
	}
	// .options__card-header
	&__card-header {
		padding: 30px;
		@media (min-width: $md3) {
			min-height: 173px;
		}
	}
	// .options__card-name
	&__card-name {
		line-height: 160%;
	}
	// .options__card-desc
	&__card-desc {
		margin-top: 45px;
		color: #000;
		font-size: 16px;
		gap: 18px;
		max-width: 392px;
	}
	// .options__card-stats
	&__card-stats {
		margin-top: 20px;
		gap: 15px;
	}
	// .options__card-stat
	&__card-stat {
		gap: 15px;
		&:not(:last-child) {
			&::after {
				content: "";
				width: 5px;
				height: 5px;
				border-radius: 50%;
				background: rgba($color: #000000, $alpha: 0.3);
			}
		}
	}
	// .options__card-bottom
	&__card-bottom {
		padding: 30px;
		font-size: 21px;
		line-height: 104.762%;
		border-radius: 0 0 10px 0;
		transition: all 0.15s ease;
		background:
			url("@img/substrate.svg") 158px -31px / 351px 365px no-repeat,
			#224737;
		color: #fff;
		@media (min-width: $md3) {
			min-height: 193px;
		}
		&::before {
			align-self: flex-end;
			transition: transform 0.3s ease;
		}
	}
	// .options__info
	&__info {
	}
	// .options__info-title
	&__info-title {
		padding: 30px 40px;
		margin-bottom: 24px;
	}

	// .options__info-list
	&__info-list {
	}
	// .options__info-item
	&__info-item {
		padding: 0 20px 26px 80px;
		&:not(:last-child) {
			border-bottom: 1px solid rgba($color: #000000, $alpha: 0.1);
			margin-bottom: 22px;
		}
		&::before {
			position: absolute;
			top: 0;
			left: 40px;
			width: 24px;
			height: 24px;
			font-size: 24px;
			color: #224737;
		}
	}
	// .options__info-caption
	&__info-caption {
		font-size: 21px;
	}
	// .options__info-desc
	&__info-desc {
		margin-top: 8px;
	}
}

.guarantees {
	padding: 30px 0;
	@media (min-width: $md4) {
		padding: 60px 0;
	}
	// .guarantees__title
	&__title {
	}
	// .guarantees__content
	&__content {
		margin-top: 40px;
	}
	// .guarantees__card
	&__card {
	}
	// .guarantees__card-header
	&__card-header {
		padding: 19px 30px;
		min-height: 313px;
	}
	// .guarantees__card-title
	&__card-title {
	}
	// .guarantees__card-desc
	&__card-desc {
		max-width: 410px;
	}
	// .guarantees__card-bottom
	&__card-bottom {
		background: #f1f1f1;
		.row {
			--bs-gutter-x: 0;
		}
	}
	// .guarantees__card-image
	&__card-image {
		position: relative;
		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			opacity: 0.5;
			background: #224737;
			mix-blend-mode: screen;
		}
	}
	// .guarantees__card-icon
	&__card-icon {
	}
}

.faq {
	padding: 30px 0;
	@media (min-width: $md4) {
		padding: 60px 0;
	}
	// .faq__title
	&__title {
	}
	// .faq__content
	&__content {
		border-top: 1px solid rgba($color: #000000, $alpha: 0.1);
		margin-top: 32px;
		@media (min-width: $md5) {
			margin-top: 62px;
		}

		.row {
			--bs-gutter-x: 0;
			--bs-gutter-y: 0;
		}
	}
	// .faq__column
	&__column {
		border-bottom: 1px solid rgba($color: #000000, $alpha: 0.1);
		@media (min-width: $md3) {
			&:nth-child(odd) {
				border-right: 1px solid rgba($color: #000000, $alpha: 0.1);
			}
		}
	}
	// .faq__item
	&__item {
	}
	// .faq__item-btn
	&__item-btn {
		gap: 16px;
		cursor: pointer;
		padding: 16px 20px;
		@media (max-width: $md5) {
			font-size: 18px;
		}
		@media (min-width: $md5) {
			padding: 30px 40px;
		}
		&.active {
			&::before {
				transform: rotate(45deg);
			}
		}
		&::before {
			order: 1;
			margin-left: auto;
			color: #224737;
			width: 24px;
			height: 24px;
			font-size: 24px;
			flex-shrink: 0;
			transition: transform 0.3s ease;
		}
	}
	// .faq__item-answer
	&__item-answer {
		display: none;
		padding: 0px 20px 16px 20px;
		@media (min-width: $md5) {
			padding: 0px 40px 30px 40px;
		}
	}
}
