@font-face {
  font-family: 'icons';
  src:  url('fonts/icons.eot?fa81nl');
  src:  url('fonts/icons.eot?fa81nl#iefix') format('embedded-opentype'),
    url('fonts/icons.ttf?fa81nl') format('truetype'),
    url('fonts/icons.woff?fa81nl') format('woff'),
    url('fonts/icons.svg?fa81nl#icons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow:before {
  content: "\e900";
}
.icon-calendar:before {
  content: "\e901";
}
.icon-chat:before {
  content: "\e902";
}
.icon-close:before {
  content: "\e903";
}
.icon-burger:before {
  content: "\e904";
}
.icon-minus:before {
  content: "\e905";
}
.icon-phone-call:before {
  content: "\e906";
}
.icon-plus:before {
  content: "\e907";
}
.icon-plus-square:before {
  content: "\e908";
}
.icon-telegram:before {
  content: "\e909";
}
.icon-time:before {
  content: "\e90a";
}
.icon-user:before {
  content: "\e90b";
}
.icon-whatsapp:before {
  content: "\e90c";
}
