<div class="@@if(size=='default'){col-xxl-4 col-md-6}@@if(size=='large'){col-xxl-8 col-12}">
    <a href="" class="case-card d-flex flex-column">
        <span class="case-card__header position-relative">
            <span class="case-card__image d-block w-100 overflow-hidden position-relative">
                <img src="@img/cases/0@@index.png" class="cover-image position-absolute" alt="Фото проекта">
            </span>
            <span class="case-card__stats d-flex flex-wrap w-100 position-absolute">
                <span class="case-card__stat d-inline-flex align-items-center bg-white icon-time">29 дней</span>
                <span class="case-card__stat d-inline-flex align-items-center bg-white icon-calendar">Авг 2025</span>
            </span>
        </span>
        <span class="case-card__bottom d-flex justify-content-between align-items-center icon-arrow">
            <span class="case-card__name">
                @@name
            </span>
        </span>
    </a>
</div>