<div class="col-xxl-4 col-md-6">
    <a href="" class="project-card d-flex flex-column">
        <span class="project-card__image d-block w-100 overflow-hidden position-relative">
            <img src="@img/project/0@@index.jpg" class="cover-image position-absolute" alt="Фото проекта">
        </span>
        <span class="project-card__bottom d-flex justify-content-between align-items-center flex-wrap">
            <span class="project-card__name">
                @@name
            </span>
            <span class="project-card__stats d-flex flex-wrap text-right justify-content-end">
                <span class="project-card__stat d-inline-flex align-items-center">87.5 м²</span>
                <span class="project-card__stat d-inline-flex align-items-center">2.400 000 млн ₽</span>
                <span class="project-card__stat d-inline-flex align-items-center">32 дня</span>
            </span>
        </span>
    </a>
</div>