<div class="col-md-4">
    <a href="" class="project-card card">
        <span class="project-card__image">
            <img src="@img/project/0@@index.jpg" alt="Фото проекта">
        </span>
        <span class="project-card__bottom d-flex justify-content-between">
            <span class="project-card__name">@@name</span>
            <span class="project-card__stats d-flex flex-wrap">
                <span class="project-card__stat">87.5 м²</span>
                <span class="project-card__stat">2.400 000 млн ₽</span>
                <span class="project-card__stat">32 дня</span>
            </span>
        </span>
    </a>
</div>