.footer {
	color: #fff;
	background: #224737;
	padding: 50px 0 25px;
	@media (min-width: $md4) {
		padding: 100px 0 50px;
		background:
			url("@img/substrate.svg") 22% calc(100% + 88px) / 33.33% auto no-repeat,
			#224737;
	}

	// .footer__top
	&__top {
	}
	// .footer__logo
	&__logo {
	}
	// .footer__info
	&__info {
		max-width: 300px;
	}
	// .footer__phone
	&__phone {
		margin-top: 20px;
		transition: opacity 0.3s ease;
		font-size: 36px;
		@media (min-width: $md5) {
			font-size: 36px;
		}
		@media (min-width: $md4) {
			font-size: 46px;
		}
		@media (any-hover: hover) {
			&:hover {
				color: #fff;
				opacity: 0.7;
			}
		}
	}
	// .footer__worktime
	&__worktime {
		margin-top: 16px;
	}

	// .footer__menu
	&__menu {
		font-family: Arial;
		font-size: 18px;
		letter-spacing: 0.9px;
		color: rgba($color: #fff, $alpha: 0.7);
	}
	// .footer__menu-column
	&__menu-column {
	}
	// .footer__menu-category
	&__menu-category {
		transition: color 0.3s ease;
		@media (any-hover: hover) {
			&:hover {
				color: #fff;
			}
		}
	}
	// .footer__menu-list
	&__menu-list {
		margin-top: 47px;
	}
	// .footer__menu-item
	&__menu-item {
		&:not(:last-child) {
			margin-bottom: 19px;
		}
	}
	// .footer__menu-link
	&__menu-link {
		transition: color 0.3s ease;
		@media (any-hover: hover) {
			&:hover {
				color: #fff;
			}
		}
	}
	// .footer__callback
	&__callback {
		margin-top: 54px;
		height: 193px;
		color: #224737;
		font-size: 21px;
		line-height: 104.762%;
		padding: 30px;
		border-radius: 10px 0;
		background:
			url("@img/substrate-green.svg") 100% -30px / auto 383px no-repeat,
			#fff;
		&::before {
			align-self: flex-end;
			transition: transform 0.3s ease;
		}
		@media (any-hover: hover) {
			&:hover {
				&::before {
					transform: rotate(45deg);
				}
			}
		}
	}
	// .footer__bottom
	&__bottom {
		margin-top: 54px;
		font-size: 15px;
		gap: 30px;
		row-gap: 20px;
		@media (min-width: $md4) {
			row-gap: 15px;
		}
		@media (min-width: $md0) {
			gap: 80px;
			row-gap: 30px;
		}
	}
	// .footer__policies
	&__policies {
		gap: 32px;
		flex: 0 0 100%;
		row-gap: 8px;
		@media (min-width: $md1) {
			flex: 0 1 auto;
		}
	}
	// .footer__policy
	&__policy {
		text-decoration-line: underline;
		text-decoration-color: rgba(255, 255, 255, 0.2);
		text-decoration-thickness: auto;
		text-underline-offset: 25%;
		@media (any-hover: hover) {
			&:hover {
				text-decoration: none;
				color: #fff;
			}
		}
	}
	// .footer__copyright
	&__copyright {
	}

	// .footer__prod
	&__prod {
		line-height: 120%;
		gap: 20px;
		@media (min-width: 375px) {
			gap: 40px;
		}
		@media (any-hover: hover) {
			&:hover {
				.footer__prod-text {
					color: #fff;
				}
			}
		}
	}
	// .footer__prod-logo
	&__prod-logo {
	}
	// .footer__prod-text
	&__prod-text {
		padding-bottom: 6px;
		color: rgba($color: #fff, $alpha: 0.7);
		transition: color 0.3s ease;
	}
}

.socials {
	gap: 14px;
	// .socials__item
	&__item {
		width: 52px;
		font-size: 26px;
		height: 52px;
		border: 1px solid rgba($color: #fff, $alpha: 0.1);
		transition: all 0.3s ease;
		@media (any-hover: hover) {
			&:hover {
				background: #fff;
				color: #224737;
			}
		}
	}
}

.worktime {
	border: 1px solid rgba($color: #fff, $alpha: 0.1);
	padding: 21px 19px;
	gap: 18px;
	@media (min-width: $md4) {
		max-width: 416px;
	}
	// .worktime__icon
	&__icon {
		width: 30px;
		height: 30px;
	}
	// .worktime__text
	&__text {
	}
}
