.footer {
	background:
		url("@img/substrate.svg") 22% 88px / 33.33% auto no-repeat,
		#224737;
	color: #fff;
	padding: 100px 0 50px;

	// .footer__top
	&__top {
	}
	// .footer__logo
	&__logo {
	}
	// .footer__info
	&__info {
		max-width: 300px;
	}
	// .footer__phone
	&__phone {
		margin-top: 20px;
		font-size: 46px;
		transition: opacity 0.3s ease;
		@media (any-hover: hover) {
			&:hover {
				color: #fff;
				opacity: 0.7;
			}
		}
	}
	// .footer__worktime
	&__worktime {
		margin-top: 16px;
		border: 1px solid rgba($color: #fff, $alpha: 0.1);
		max-width: 416px;
		padding: 21px 19px;
		gap: 18px;
	}
	// .footer__worktime-icon
	&__worktime-icon {
		width: 30px;
		height: 30px;
	}
	// .footer__worktime-text
	&__worktime-text {
	}
	// .footer__menu
	&__menu {
		font-family: Arial;
		font-size: 18px;
		letter-spacing: 0.9px;
		color: rgba($color: #fff, $alpha: 0.7);
	}
	// .footer__menu-column
	&__menu-column {
	}
	// .footer__menu-category
	&__menu-category {
	}
	// .footer__menu-list
	&__menu-list {
		margin-top: 47px;
	}
	// .footer__menu-item
	&__menu-item {
		&:not(:last-child) {
			margin-bottom: 19px;
		}
	}
	// .footer__menu-link
	&__menu-link {
	}
	// .footer__callback
	&__callback {
		margin-top: 54px;
		height: 193px;
		color: #224737;
		font-size: 21px;
		line-height: 104.762%;
		padding: 30px;
		border-radius: 10px 0;
		background:
			url("@img/substrate-green.svg") 100% -30px / auto 383px no-repeat,
			#fff;
		&::before {
			align-self: flex-end;
			transition: transform 0.3s ease;
		}
		@media (any-hover: hover) {
			&:hover {
				&::before {
					transform: rotate(45deg);
				}
			}
		}
	}
	// .footer__bottom
	&__bottom {
		margin-top: 54px;
		font-size: 15px;
		gap: 80px;
	}
	// .footer__policies
	&__policies {
		gap: 32px;
	}
	// .footer__policy
	&__policy {
		text-decoration-line: underline;
		text-decoration-color: rgba(255, 255, 255, 0.2);
		text-decoration-thickness: auto;
		text-underline-offset: 25%;
		@media (any-hover: hover) {
			&:hover {
				text-decoration: none;
				color: #fff;
			}
		}
	}
	// .footer__copyright
	&__copyright {
	}
	// .footer__socials
	&__socials {
		gap: 14px;
	}
	// .footer__social
	&__social {
		width: 52px;
		font-size: 26px;
		height: 52px;
		border: 1px solid rgba($color: #fff, $alpha: 0.1);
	}
	// .footer__prod
	&__prod {
		color: rgba($color: #fff, $alpha: 0.7);
		line-height: 120%;
		gap: 40px;
	}
	// .footer__prod-logo
	&__prod-logo {
	}
	// .footer__prod-text
	&__prod-text {
		padding-bottom: 6px;
	}
}
