.form {
	padding: 40px 0 0 44px;
	@media (min-width: $md0) {
		padding: 40px 88px 0;
	}
	&-control {
		border: 0;
		border-radius: 0;
		border-bottom: 1px solid rgba(34, 71, 55, 0.3);
		color: #656363;
		background-color: transparent;
		height: auto;
		font-size: 16px;
		font-weight: 500;
		width: 100%;
		text-overflow: ellipsis;
		padding: 18px 30px 18px;
		min-height: 54px;

		&:is(textarea) {
			height: 70px !important;
			resize: none;
		}
		&::placeholder {
			opacity: 1;
			color: #62615b;
		}
		&:focus {
			outline: none;
			color: inherit;
			border-color: inherit;
			box-shadow: none;
			border-color: #134e26;
			background: transparent;
		}

		&[name="time"] {
			padding-right: 40px !important;
			&::-webkit-calendar-picker-indicator {
				background: transparent;
			}
		}
	}
	// .form__field
	&__field {
		display: block;
		position: relative;
		&:not(:last-child) {
			margin-bottom: 12px;
		}
		&::before {
			position: absolute;
			top: 20px;
			font-size: 18px;
			right: 20px;
			color: #134e26;
			pointer-events: none;
			@media (min-width: $md1) {
				right: 30px;
			}
		}
		&[class*="icon"] {
			.form-control {
				padding-right: 60px;
				@media (min-width: $md1) {
					padding-right: 84px;
				}
			}
		}
	}
	// .form__title
	&__title {
		@media (min-width: $md2) {
			font-size: 56px;
			line-height: 85%;
		}
	}
	// .form__content
	&__content {
		margin-top: 20px;
		max-width: 412px;
	}
	// .form__body
	&__body {
	}
	// .form__field
	&__field {
	}
	// .form__submit
	&__submit {
		margin-left: -44px;
		margin-top: 40px;
		border-radius: 10px 0;
		border: 1px solid rgba($color: #224737, $alpha: 0.1);
		padding: 24px 18px 24px 33px;
		&::before {
			align-self: flex-end;
			font-size: 14px;
			width: 24px;
			height: 24px;
			color: #324535;
			display: flex;
			justify-content: center;
			align-items: center;
			transition: transform 0.3s ease;
		}
		@media (min-width: $md0) {
			margin-left: -88px;
		}
		@media (any-hover: hover) {
			&:hover {
				background: rgba($color: #224737, $alpha: 0.1);
				&::before {
					transform: rotate(45deg);
				}
			}
		}
	}
	// .form__submit-name
	&__submit-name {
		margin-top: 50px;
		font-size: 21px;
		line-height: math.div(22, 21);
	}
	// .form__submit-desc
	&__submit-desc {
		margin-top: 10px;
		color: rgba($color: #000, $alpha: 0.4);
		font-size: 12px;
		line-height: 150%;
		max-width: 229px;
	}
}

// <BUTTONS (a.btn+tab)>==============================

.btn {
	position: relative;
	z-index: 1;
	transition: all 0.3s ease;
	display: flex;
	text-align: center;
	justify-content: center;
	align-items: center;
	width: fit-content;
	border-radius: 100px;
	border: 0;
	gap: 8px;
	font-family: $font-manrope;
	font-size: 11.479px;
	font-weight: 600;
	letter-spacing: 1.148px;
	text-transform: uppercase;
	min-height: 45px;
	padding: 14px 32px;
	@media (min-width: $md1) {
		padding: 18px 38px;
		min-height: 54px;
	}
	&::before {
		color: currentColor;
		font-size: em(12);
	}
	& .icon-arrow {
		font-size: em(12);
	}
	&.icon-whatsapp {
		&::before {
			font-size: 1.25em;
		}
	}
	&.btn-primary {
		background: #134e26;
		color: #fff;

		&:hover {
			background: darken($color: #134e26, $amount: 10);
		}
		&:focus {
			box-shadow: 0 0 0 0.2rem rgba($color: #134e26, $alpha: 0.5);
		}
		&:not(:disabled):not(.disabled):active {
			background-color: darken($color: #134e26, $amount: 15);
			border-color: darken($color: #134e26, $amount: 15);
		}
	}
	&.btn-primary-outline {
		border: 1px solid #134e26;
		background: transparent;
		color: #134e26;

		&:hover {
			background: #134e26;
			color: #fff;
		}
		&:focus {
			box-shadow: 0 0 0 0.2rem rgba($color: #134e26, $alpha: 0.5);
		}
		&:not(:disabled):not(.disabled):active {
			background-color: darken($color: #134e26, $amount: 10);
			border-color: darken($color: #134e26, $amount: 10);
			color: #fff;
		}
	}
	&.btn-green {
		background: #43d854;
		color: #fff;

		&:hover {
			background: darken($color: #43d854, $amount: 10);
		}
		&:focus {
			box-shadow: 0 0 0 0.2rem rgba($color: #43d854, $alpha: 0.5);
		}
		&:not(:disabled):not(.disabled):active {
			background-color: darken($color: #43d854, $amount: 15);
			border-color: darken($color: #43d854, $amount: 15);
		}
	}
	&.btn-secondary {
		background: #d8e4c9;
		color: #134e26;

		&:hover {
			background: darken($color: #d8e4c9, $amount: 10);
		}
		&:focus {
			box-shadow: 0 0 0 0.2rem rgba($color: #d8e4c9, $alpha: 0.5);
		}
		&:not(:disabled):not(.disabled):active {
			background-color: darken($color: #d8e4c9, $amount: 15);
			border-color: darken($color: #d8e4c9, $amount: 15);
		}
	}

	&.btn-sm {
		@media (min-width: $md2) {
			padding: 20px 29px;
			gap: 50px;
			&::before {
				padding: 14px;
			}
		}
	}
}

.checkbox {
	// .checkbox__input
	&__input {
		&:checked {
			& + .checkbox__btn {
				background: $text;
				color: #fff;
				margin-right: 50px;
				&::before {
					// @extend %ic, .icon-check;
					position: absolute;
					z-index: 1;
					top: 0;
					left: 100%;
					width: 50px;
					height: 50px;
					font-size: 14px;
					border-radius: 50%;
					background: $text;
					color: #fff;
					flex-shrink: 0;
					display: flex;
					justify-content: center;
					align-items: center;
					transition:
						background-color 0.3s ease 0s,
						color 0.3s ease 0s,
						transform 0.3s ease,
						left 0.3s ease;
				}
			}
		}
	}
	// .checkbox__btn
	&__btn {
		position: relative;
		padding: 16px 30px;
		border-radius: 100px;
		background: #efe9e5;
		display: block;
		color: #121212;
		text-align: center;
		font-weight: 500;
		line-height: 100%;
		cursor: pointer;
		@media (min-width: $md5) {
			font-size: 18px;
		}
		transition:
			background-color 0.3s ease,
			color 0.3s ease;
		@media (any-hover: hover) {
			&:hover {
				background: $accent;
				color: #fff;
			}
		}
	}
}
