.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background: transparent;
	z-index: 6;
	transition: transform 0.3s ease;
	@media (any-hover: hover) {
		&:hover {
			&::before {
				opacity: 1;
			}
			.header__body {
				&::after {
					opacity: 1;
				}
			}
		}
	}
	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: #fff;
		opacity: 0;
		pointer-events: none;
		transition: opacity 0.3s ease;
		@media (min-width: $md1) {
			height: calc(100% + 24px);
		}
	}
	&::after {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		min-height: 100vh;
		background: rgba($color: #000, $alpha: 0.3);
		opacity: 0.3;
		z-index: -2;
		opacity: 0;
		visibility: hidden;
		transition:
			opacity 0.3s ease,
			visibility 0.3s ease;
	}
	&.scroll,
	&.open-submenu {
		&::before {
			opacity: 1;
		}
		.header__body {
			&::after {
				opacity: 1;
			}
		}
	}
	&.open-submenu {
		.header__body {
			border-bottom: 1px solid #ebecec;
		}
		&::after {
			opacity: 1;
			visibility: visible;
		}
	}
	&.open-menu {
	}
	&.header-scroll-bottom {
		transform: translateY(-100%);
		@media (min-width: $md1) {
			transform: translateY(calc(-100% - 24px));
		}
	}
	.container-xxl {
		@media (min-width: 1919px) {
			max-width: 1648px;
		}
	}

	// .header__body
	&__body {
		position: relative;
		border-bottom: 1px solid transparent;
		transition: border-color 0.3s ease;
		padding: 10px 0;
		gap: 8px;
		@media (min-width: $md1) {
			padding: 44px 0 10px;
			gap: 16px;
		}
		@media (min-width: 1919px) {
			padding: 44px 16px 10px 0;
		}
	}
	// .header__logo
	&__logo {
		width: 100px;
		@media (min-width: $md3) {
			width: 145px;
			height: 50px;
		}
		@media (min-width: $md1) {
			position: absolute;
			top: calc(50% + 10px);
			left: 50%;
			transform: translate(-50%, -50%);
			z-index: 2;
		}
	}
	// .header__projects
	&__projects {
		@media (min-width: $md0) {
			flex: 0 0 220px;
		}
		@media (any-hover: hover) {
			@media (min-width: $md2) {
				&:hover {
					.submenu {
						opacity: 1;
						visibility: visible;
						transform: translate3d(-50%, 0, 0);
					}
				}
			}
		}
	}
	// .header__projects-btn
	&__projects-btn {
		position: relative;
		color: #0f0f0f;
		font-size: 16px;
		font-weight: 700;
		letter-spacing: 1.6px;
		text-transform: uppercase;
		display: inline-flex;
		align-items: center;
		border-radius: 30px;
		gap: 7px;
		border: 1px solid transparent;
		padding: 4px 10px;
		transition:
			border-color 0.3s ease,
			background-color 0.3s ease;

		&::before {
			width: 18px;
			height: 18px;
			font-size: 18px;
			flex-shrink: 0;
			display: flex;
			justify-content: center;
			align-items: center;
			color: rgba($color: #000000, $alpha: 0.5);
		}
		@media (any-hover: hover) {
			&:hover {
				border: 1px solid rgba(0, 0, 0, 0.1);
				background: #fff;
				&::after {
					content: "";
					position: absolute;
					top: -20px;
					bottom: -20px;
					left: 0;
					right: 0;
				}
			}
		}
	}
	// .header__menu
	&__menu {
	}
	// .header__callback
	&__callback {
		@media (max-width: $md5) {
			width: 40px;
			height: 40px;
			font-size: 20px;
			border-radius: 50%;
			color: #224737;
			display: flex;
			justify-content: center;
			align-items: center;
			border: 1px solid rgba($color: #224737, $alpha: 0.2);
		}
		@media (min-width: $md5) {
			color: #163a2d;
			font-size: 16px;
			font-weight: 700;
			letter-spacing: 1.6px;
			text-transform: uppercase;
			padding-bottom: 6px;
			border-bottom: 1px solid #163a2d;
			transition: border-color 0.3s ease;
			margin-right: 16px;
			&::before {
				display: none;
			}
		}
		@media (min-width: $md0) {
			margin-right: 40px;
		}
		@media (any-hover: hover) {
			&:hover {
				border-bottom: 1px solid transparent;
			}
		}
	}
	// .header__menu-toggler
	&__menu-toggler {
	}
	// .header__social
	&__social {
		width: 40px;
		height: 40px;
		font-size: 24px;
		color: #224737;
		border: 1px solid rgba($color: #224737, $alpha: 0.2);
		transition:
			background-color 0.3s ease,
			color 0.3s ease;
		@media (any-hover: hover) {
			&:hover {
				background-color: #224737;
				color: #fff;
			}
		}
	}
}

.menu {
	@media (max-width: $md2) {
		.header.open-menu & {
			position: fixed;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			&::before {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background: rgba($color: #000000, $alpha: 0.3);
			}
		}
	}

	// .menu__content
	&__content {
		@media (min-width: $md2) {
			display: contents;
		}
		@media (max-width: $md2) {
			position: fixed;
			top: 0;
			right: 0;
			bottom: 0;
			width: 320px;
			background: #fff;
			padding: 10px;
			z-index: 5;
			overflow-y: auto;
			overflow-x: hidden;
			transform: translateX(100%);
			transition: transform 0.3s ease;
			.header.open-menu & {
				transform: none;
			}
		}
	}
	// .menu__logo
	&__logo {
		max-width: 125px;
		margin-bottom: 24px;
		margin-left: 10px;
	}
	// .menu__lists
	&__lists {
		@media (min-width: $md1) {
			gap: 250px;
		}
		@media (min-width: $md0) {
			gap: 290px;
		}
	}
	// .menu__list
	&__list {
		@media (min-width: $md1) {
			gap: 18px;
		}
		@media (min-width: $md0) {
			gap: 50px;
		}
	}
	// .menu__item
	&__item {
		@media (any-hover: hover) {
			@media (min-width: $md2) {
				&:hover {
					.submenu {
						opacity: 1;
						visibility: visible;
						transform: translate3d(-50%, 0, 0);
					}
					.menu__link {
						&::before {
							content: "";
							position: absolute;
							top: -20px;
							bottom: -20px;
							left: 0;
							right: 0;
						}
					}
				}
			}
		}
	}
	// .menu__link
	&__link {
		position: relative;
		color: #33302a;
		border-radius: 100px;
		transition:
			color 0.3s ease,
			background-color 0.3s ease;
		display: block;
		padding: 8px 12px;
		width: fit-content;
		margin-left: auto;
		color: #1c1c1c;
		font-size: 16px;
		display: inline-flex;
		align-items: center;
		&.active {
			background: darken($color: #fff, $amount: 5);
		}
		@media (any-hover: hover) {
			&:hover {
				background: darken($color: #fff, $amount: 5);
			}
		}
	}
	// .menu__bottom
	&__bottom {
		gap: 16px;
		padding-left: 8px;
	}
	// .menu__callback
	&__callback {
		@extend .header__social;
		font-size: 18px;
	}
	// .menu__social
	&__social {
		@extend .header__social;
	}
}

.submenu {
	display: none;
	&.active {
		display: block;
	}
	flex-wrap: wrap;
	justify-content: flex-end;
	margin-top: 16px;
	@media (min-width: $md2) {
		margin-top: 0;
		position: absolute;
		z-index: -1;
		top: 100%;
		left: 50%;
		transform: translate3d(-50%, -100%, 0);
		right: 0;
		background: #fff;
		width: 100vw;
		opacity: 0;
		visibility: hidden;
		display: block;
		transition:
			transform 0.3s ease,
			opacity 0.3s ease,
			visibility 0.3s ease;
		color: $text;

		&.active {
			opacity: 1;
			visibility: visible;
			transform: translate3d(-50%, 0, 0);
		}
	}
	// .submenu__list
	&__list {
		gap: 12px;
		padding: 6px 0px 12px 16px;
		@media (min-width: $md2) {
			padding: 30px 0;
			gap: 60px;
		}
	}
	// .submenu__item
	&__item {
		gap: 10px;
		display: inline-flex;
		align-items: center;
	}
	// .submenu__link
	&__link {
		color: rgba(28, 28, 28, 0.7);
		.quantity {
			color: #fff;
			background: rgba(22, 58, 45, 0.8);
			text-align: center;
			font-size: 10px;
			border-radius: 50%;
			min-width: 18px;
			height: 18px;
			aspect-ratio: 1;
			display: inline-flex;
			justify-content: center;
			align-items: center;
		}
	}
}

.icon-menu {
	flex-shrink: 0;
	display: flex;
	flex-flow: column nowrap;
	align-items: flex-end;
	justify-content: center;
	padding: 0;
	z-index: 10;
	padding: 10px 8px;
	width: 40px;
	height: 40px;
	font-size: 24px;
	color: #224737;
	border: 1px solid rgba($color: #224737, $alpha: 0.2);
	border-radius: 50%;

	@media (min-width: $md2) {
		display: none;
	}
	& span {
		display: block;
		padding: 2px 0;

		width: 100%;
		transition:
			transform 0.4s ease 0.4s,
			opacity 0.4s ease 0.4s;
		will-change: transform;
		&::before {
			content: "";
			display: block;
			height: 3px;
			border-radius: 3px;
			width: 100%;
			margin-left: auto;
			background: currentColor;
			transition: transform 0.3s ease 0s;
			will-change: transform;
		}
	}
	.header.open-menu & {
		& span {
			transition:
				transform 0.3s ease 0s,
				opacity 0.3s ease 0s;
			&::before {
				transition:
					transform 0.45s ease 0.35s,
					width 0.3s ease 0s;
			}
			&:first-child {
				transform: translateY(rem(7));

				&::before {
					transform: rotate(-135deg);
				}
			}
			&:nth-child(2) {
				opacity: 0;
			}
			&:nth-child(3) {
				transform: translateY(rem(-7));

				&::before {
					transform: rotate(-225deg);
				}
			}
		}
	}
}
