.menu {
	@media (max-width: $md3) {
		position: absolute;
		top: calc(100% + 12px);
		right: 0;
		display: none;
		.header.open-menu & {
			display: block;
		}
	}
	// .menu__list
	&__list {
		gap: 10px;
	}
	// .menu__item
	&__item {
		@media (any-hover: hover) {
			&:hover {
				.menu__link {
					& span {
						transform: translateY(-200%);
					}
					&::before {
						transform: none;
					}
				}
				.submenu {
					opacity: 1;
					visibility: visible;
				}

				&::before {
					color: #c68a23;
				}
			}
		}
	}
	// .menu__link
	&__link {
		position: relative;
		color: #33302a;
		font-size: 15px;
		letter-spacing: -0.45px;
		background: #fff;
		border-radius: 100px;
		transition:
			color 0.3s ease,
			background-color 0.3s ease;
		display: block;
		padding: 8px 12px;
		overflow: hidden;
		width: fit-content;
		margin-left: auto;
		transition: background-color 0.3s ease;

		& span {
			transition: transform 0.2s ease;
			display: inline-block;
		}
		&::before {
			content: attr(data-title);
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			text-align: center;
			transition: transform 0.2s ease;
			transform: translateY(200%);
			padding: 8px 12px;
			@media (min-width: $md5) {
				padding: 12px 17px;
			}
			@media (min-width: $md1) {
				padding: 17px 40px;
			}
		}
		&.active {
			background: darken($color: #fff, $amount: 5);
			& span {
				transform: translateY(-200%);
			}
			&::before {
				transform: none;
			}
		}
		@media (any-hover: hover) {
			&:hover {
				background: darken($color: #fff, $amount: 5);
				& span {
					transform: translateY(-200%);
				}
				&::before {
					transform: none;
				}
			}
		}
		@media (min-width: $md5) {
			padding: 12px 17px;
		}
		@media (max-width: $md3) {
			border: 1px solid rgba($color: #000000, $alpha: 0.1);
		}
		@media (min-width: $md1) {
			padding: 17px 40px;
		}
	}
	// .menu__icon
	&__icon {
	}
}

.submenu {
	display: none;
	&.active {
		display: flex;
	}

	gap: 16px;
	flex-wrap: wrap;
	justify-content: flex-end;
	margin-top: 16px;
	@media (min-width: $md3) {
		margin-top: 0;
		position: absolute;
		z-index: 1;
		top: 100%;
		left: 0;
		right: 0;
		padding: 20px;
		border-radius: 100px;
		background: #f0efe9;
		border: 1px solid rgba(51, 48, 42, 0.1);
		width: 100%;
		display: flex;
		justify-content: center;
		opacity: 0;
		visibility: hidden;
		transition:
			opacity 0.3s ease 0s,
			visibility 0.3s ease 0s;
		gap: 8px;
		color: $text;
		&.active {
			opacity: 1;
			visibility: visible;
		}
	}
	// .submenu__item
	&__item {
	}
	// .submenu__link
	&__link {
		position: relative;
		color: #33302a;
		font-size: 15px;
		letter-spacing: -0.45px;
		background: #fff;
		border-radius: 100px;
		transition:
			color 0.3s ease,
			background-color 0.3s ease;
		display: block;
		padding: 8px 12px;
		overflow: hidden;
		transition: background-color 0.3s ease;
		border: 1px solid rgba($color: #000000, $alpha: 0.1);

		& span {
			transition: transform 0.2s ease;
			display: inline-block;
		}
		&::before {
			content: attr(data-title);
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			text-align: center;
			transition: transform 0.2s ease;
			transform: translateY(200%);
			padding: 8px 12px;
			@media (min-width: $md5) {
				padding: 12px 17px;
			}
			@media (min-width: $md1) {
				padding: 17px 40px;
			}
		}
		@media (any-hover: hover) {
			&:hover {
				background: darken($color: #fff, $amount: 5);
				& span {
					transform: translateY(-200%);
				}
				&::before {
					transform: none;
				}
			}
		}
		@media (min-width: $md5) {
			padding: 12px 17px;
		}
		@media (max-width: $md3) {
			border: 1px solid rgba($color: #000000, $alpha: 0.1);
		}
		@media (min-width: $md1) {
			padding: 17px 40px;
		}
	}
}

.icon-menu {
	flex-shrink: 0;
	display: flex;
	flex-flow: column nowrap;
	align-items: flex-end;
	justify-content: center;
	padding: 0;
	z-index: 1;
	padding: 10px;
	width: 45px;
	height: 45px;
	border-radius: 50%;
	background: #fff;

	@media (max-width: $md5) {
		zoom: 0.55;
	}

	@media (min-width: $md3) {
		display: none;
	}
	& span {
		display: block;
		padding: 2px 0;

		width: 100%;
		transition:
			transform 0.4s ease 0.4s,
			opacity 0.4s ease 0.4s;
		will-change: transform;
		&::before {
			content: "";
			display: block;
			height: 3px;
			border-radius: 3px;
			width: 100%;
			margin-left: auto;
			background: currentColor;
			transition: transform 0.3s ease 0s;
			will-change: transform;
		}
	}
	.header.open-menu & {
		& span {
			transition:
				transform 0.3s ease 0s,
				opacity 0.3s ease 0s;
			&::before {
				transition:
					transform 0.45s ease 0.35s,
					width 0.3s ease 0s;
			}
			&:first-child {
				transform: translateY(rem(7));

				&::before {
					transform: rotate(-135deg);
				}
			}
			&:nth-child(2) {
				opacity: 0;
			}
			&:nth-child(3) {
				transform: translateY(rem(-7));

				&::before {
					transform: rotate(-225deg);
				}
			}
		}
	}
}
