%ic {
	font-family: "icons";
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	speak: never;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

[class^="icon-"],
[class*=" icon-"] {
	&:before {
		@extend %ic;
		display: block;
	}
}

.icon-arrow:before {
	content: "\e900";
}
.icon-calendar:before {
	content: "\e901";
}
.icon-chat:before {
	content: "\e902";
}
.icon-close:before {
	content: "\e903";
}
.icon-menu:before {
	content: "\e904";
}
.icon-minus:before {
	content: "\e905";
}
.icon-phone-call:before {
	content: "\e906";
}
.icon-plus:before {
	content: "\e907";
}
.icon-plus-square:before {
	content: "\e908";
}
.icon-telegram:before {
	content: "\e909";
}
.icon-time:before {
	content: "\e90a";
}
.icon-user:before {
	content: "\e90b";
}
.icon-whatsapp-outline:before {
	content: "\e90c";
}
