// Использование модулей SASS
@use "sass:math";
// Использование модулей SASS
// ======================================МИКСИНЫ==============================================
@import "mixins";

// ======================================МИКСИНЫ==============================================
// @import "../../node_modules/bootstrap/scss/bootstrap";
// @import "reset";
// ======================================ШРИФТЫ===============================================

// &display=swap&subset=cyrillic-ext
@import "fonts";

// ======================================ШРИФТЫ===============================================
// ======================================ИКОНОЧНЫЙ ШРИФТ======================================
@import "icons";
// ======================================ИКОНОЧНЫЙ ШРИФТ======================================

// Шрифт по умолчанию
$fontfamily: "Onest";
$font-manrope: "Manrope";
// Шрифт по умолчанию

// ПЕРЕМЕННЫЕ
$minWidth: 320;
$maxWidth: 1920;
$containerPadding: 30;

$md0: 1669.98px;
$md1: 1399.98px;
$md2: 1199.98px;
$md3: 991.98px;
$md4: 767.98px;
$md5: 575.98px;
$md6: 379.98px;

$header: var(--header-height, 175px);

$text: #000;
$green: #163a2d;
$light: #efe9e5;
$grey: #acacac;
$accent: #c68a23;
$secondary: #d4cd8e;

// ПЕРЕМЕННЫЕ

//ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ
body {
	font-family: $fontfamily, sans-serif;
	color: $text;
	min-width: 320px;
	line-height: normal;
	background: #fbf8f6;
	&.lock {
		overflow: hidden;
	}
	&.lock-menu {
		@media (max-width: $md2) {
			overflow: hidden;
		}
	}
	&._touch {
	}
}
// ==================ОБОЛОЧКА==============================
.wrapper {
	position: relative;
	width: 100%;
	min-height: 100%;
	display: flex;
	flex-direction: column;
}

//================== ОБОЛОЧКА==================================

//=============== ОСНОВНАЯ СЕТКА===============================

//=============== ОСНОВНАЯ СЕТКА===============================

//=================Подключаем файлы стилей
//================Общий файл для элементов страницы
@import "ui";
@import "forms";
//================Общий файл для элементов страницы
@import "header";
@import "footer";
//=======================================

// =======================ОСНОВНОЙ БЛОК==================

.page {
	flex: 1 1 auto;
	overflow-x: clip;
	z-index: 2;
}

// =======================ОСНОВНОЙ БЛОК===================

@import "pages/home";
@import "pages/project";
@import "pages/order";

.infromation-block {
	padding: 30px 0 55px;
	@media (min-width: $md3) {
		padding: 60px 0 110px;
	}
	// .infromation-block__link
	&__link {
		gap: 29px;
		font-family: Arial;
	}
	// .infromation-block__icon
	&__icon {
	}
	// .infromation-block__text
	&__text {
		color: #000;
		text-decoration-line: underline;
		text-decoration-style: solid;
		text-decoration-color: #d0d0d0;
		text-underline-offset: 25%;
		font-size: 18px;
		@media (min-width: $md5) {
			font-size: 20px;
		}
		@media (min-width: $md1) {
			font-size: 24px;
			line-height: 91.667%;
		}
		@media (any-hover: hover) {
			&:hover {
				text-decoration: none;
			}
		}
	}
}

.feedback {
	padding: 60px 0;
	// .feedback__body
	&__body {
		border-radius: 20px 0;
		background: #f1f1f1;
		padding: 30px;
		.popup & {
			border-radius: 20px 0 0 0;
		}
	}
	// .feedback__form
	&__form {
	}
	// .feedback__image
	&__image {
		@media (min-width: $md0) {
			margin-left: 50px;
		}
		position: relative;
		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			border-radius: 20px;
			background: #224737;
			opacity: 0.5;
			mix-blend-mode: screen;
		}
		& img {
			border-radius: 20px;
		}
	}
	// .feedback__bottom
	&__bottom {
		background: #224737;
		color: #fff;
		padding: 30px;
		border-radius: 0 0 20px 0;
		row-gap: 20px;
		gap: 20px;
		@media (min-width: $md3) {
			gap: 80px;
		}
		@media (min-width: $md2) {
			gap: 216px;
		}
	}
	// .feedback__socials
	&__socials {
	}
	// .feedback__worktime
	&__worktime {
	}
	&__phone {
		text-align: right;
		font-size: 24px;
		transition: opacity 0.3s ease;
		@media (any-hover: hover) {
			&:hover {
				opacity: 0.8;
				color: #fff;
			}
		}
	}
}

.project-card {
	@media (any-hover: hover) {
		&:hover {
			.project-card__image img {
				transform: scale(1.015);
			}
			.project-card__bottom {
				&::before {
					transform: rotate(45deg);
				}
			}
			.favorite-btn {
				opacity: 1;
				visibility: visible;
			}
		}
	}
	.favorite-btn {
		@media (any-hover: hover) {
			opacity: 0;
			visibility: hidden;
		}
		&.active {
			opacity: 1;
			visibility: visible;
		}
	}
	// .project-card__image
	&__image {
		aspect-ratio: math.div(500, 329);

		background:
			url("@img/substrate.svg") -50% -47px / 657px auto no-repeat,
			#224737;
		& img {
			inset: 0;
			transition: transform 0.3s ease;
		}
	}
	// .project-card__bottom
	&__bottom {
		padding: 27px 0 0;
		gap: 16px;
		&::before {
			order: 1;
			width: 24px;
			height: 24px;
			display: flex;
			justify-content: center;
			align-items: center;
			transition: transform 0.3s ease;
		}
	}
	// .project-card__name
	&__name {
		color: #000;
		font-size: 21px;
		line-height: 152.381%;
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 2;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	// .project-card__stats
	&__stats {
		color: #656363;
		font-size: 16px;
		gap: 20px;
		row-gap: 5px;
	}
	// .project-card__stat
	&__stat {
		gap: 10px;
		&:not(:first-child) {
			&::before {
				content: "";
				width: 5px;
				height: 5px;
				border-radius: 50%;
				background: rgba($color: #000000, $alpha: 0.3);
			}
		}
	}
}

.case-card {
	@media (any-hover: hover) {
		&:hover {
			.case-card__image img {
				transform: scale(1.015);
			}
			.case-card__bottom {
				&::before {
					transform: rotate(45deg);
				}
			}
		}
	}
	// .case-card__image
	&__image {
		height: 400px;
		@media (min-width: $md0) {
			height: 487px;
		}
		&.case-card__image--small {
			@media (min-width: $md1) {
				height: 250px;
			}
		}
		background:
			url("@img/substrate.svg") -50% -47px / 657px auto no-repeat,
			#224737;
		& img {
			inset: 0;
			transition: transform 0.3s ease;
		}
	}
	// .case-card__bottom
	&__bottom {
		padding: 27px 0 0;
		gap: 16px;
		&::before {
			order: 1;
			width: 24px;
			height: 24px;
			display: flex;
			justify-content: center;
			align-items: center;
			transition: transform 0.3s ease;
		}
	}
	// .case-card__name
	&__name {
		color: #000;
		font-size: 21px;
		line-height: 152.381%;
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 1;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	// .case-card__header
	&__header {
	}
	// .case-card__stats
	&__stats {
		top: 0;
		left: 0;
		gap: 10px;
		padding: 16px;
		@media (min-width: $md2) {
			padding: 30px;
		}
	}
	// .case-card__stat
	&__stat {
		color: #656363;
		line-height: 137.5%;
		border-radius: 100px;
		gap: 8px;
		padding: 8px 12px;
		@media (min-width: $md2) {
			padding: 12px 18px;
		}
		&::before {
			width: 18px;
			height: 18px;
			font-size: 18px;
			@media (min-width: $md2) {
				width: 25px;
				height: 25px;
				font-size: 25px;
			}
			color: #224737;
		}
	}
}
