// Использование модулей SASS
@use "sass:math";
// Использование модулей SASS
// ======================================МИКСИНЫ==============================================
@import "mixins";

// ======================================МИКСИНЫ==============================================
@import "../../node_modules/bootstrap/scss/bootstrap";
@import "reset";
// ======================================ШРИФТЫ===============================================

// &display=swap&subset=cyrillic-ext
@import "fonts";

// ======================================ШРИФТЫ===============================================
// ======================================ИКОНОЧНЫЙ ШРИФТ======================================
@import "icons";
// ======================================ИКОНОЧНЫЙ ШРИФТ======================================

// Шрифт по умолчанию
$fontfamily: "Onest";
$font-manrope: "Manrope";
// Шрифт по умолчанию

// ПЕРЕМЕННЫЕ
$minWidth: 320;
$maxWidth: 1920;
$containerPadding: 30;

$md0: 1649.98px;
$md1: 1399.98px;
$md2: 1199.98px;
$md3: 991.98px;
$md4: 767.98px;
$md5: 575.98px;
$md6: 379.98px;

$header: var(--header-height, 175px);

$text: #000;
$green: #163a2d;
$light: #efe9e5;
$grey: #acacac;
$accent: #c68a23;
$secondary: #d4cd8e;

// ПЕРЕМЕННЫЕ

//ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ
body {
	font-family: $fontfamily, sans-serif;
	color: $text;
	min-width: 320px;
	line-height: normal;
	background: #fbf8f6;
	&.lock {
		overflow: hidden;
	}
	&.lock-menu {
		@media (max-width: $md3) {
			overflow: hidden;
		}
	}
	&._touch {
	}
}
// ==================ОБОЛОЧКА==============================
.wrapper {
	position: relative;
	width: 100%;
	min-height: 100%;
	display: flex;
	flex-direction: column;
}

//================== ОБОЛОЧКА==================================

//=============== ОСНОВНАЯ СЕТКА===============================

//=============== ОСНОВНАЯ СЕТКА===============================

//=================Подключаем файлы стилей
//================Общий файл для элементов страницы
@import "ui";
@import "forms";
//================Общий файл для элементов страницы
@import "header";
@import "footer";
//=======================================

// =======================ОСНОВНОЙ БЛОК==================

.page {
	flex: 1 1 auto;
	overflow-x: clip;
	z-index: 2;
}

// =======================ОСНОВНОЙ БЛОК===================

@import "pages/home";
@import "pages/project";
@import "pages/order";

.infromation-block {
	padding: 60px 0 110px;
	// .infromation-block__link
	&__link {
		gap: 29px;
		font-family: Arial;
	}
	// .infromation-block__icon
	&__icon {
	}
	// .infromation-block__text
	&__text {
		color: #000;
		font-size: 24px;

		text-decoration-line: underline;
		text-decoration-style: solid;
		text-decoration-color: #d0d0d0;
		text-underline-offset: 25%;
		@media (min-width: $md1) {
			line-height: 91.667%;
		}
		@media (any-hover: hover) {
			&:hover {
				text-decoration: none;
			}
		}
	}
}

.feedback {
	padding: 60px 0;
	// .feedback__body
	&__body {
		border-radius: 20px 0;
		background: #f1f1f1;
		padding: 30px;
	}
	// .feedback__form
	&__form {
	}
	// .feedback__image
	&__image {
		@media (min-width: $md0) {
			margin-left: 50px;
		}
		& img {
			border-radius: 20px;
		}
	}
}
