@import "modules/config";

.title {
	font-weight: 500;
	line-height: 100%;
	font-size: 26px;
	@media (min-width: $md5) {
		font-size: 32px;
	}
	@media (min-width: $md4) {
		font-size: 40px;
	}
	@media (min-width: $md3) {
		font-size: 48px;
	}
	@media (min-width: $md2) {
		font-size: 56px;
	}
	@media (min-width: $md1) {
		font-size: 62px;
	}
	@media (min-width: $md0) {
		font-size: 72px;
	}
}

.title-xxl {
	font-weight: 500;
	line-height: 95%;
	letter-spacing: em(-2.4, 80);
	font-size: 28px;
	@media (min-width: $md5) {
		font-size: 32px;
	}
	@media (min-width: $md4) {
		font-size: 40px;
	}
	@media (min-width: $md3) {
		font-size: 50px;
	}
	@media (min-width: $md2) {
		font-size: 60px;
	}
	@media (min-width: $md1) {
		font-size: 70px;
	}
	@media (min-width: $md0) {
		font-size: 80px;
	}
}

.title-sm {
	line-height: 120%;
	font-size: 20px;
	font-weight: 500;
	@media (min-width: $md4) {
		font-size: 30px;
	}
	@media (min-width: $md2) {
		font-size: 36px;
	}
	@media (min-width: $md0) {
		font-size: 42px;
	}
}

.caption {
	color: #62615b;
	font-weight: 600;
	line-height: 115%;
	font-size: 20px;
	@media (min-width: $md2) {
		font-size: 24px;
	}
}

.category {
	position: relative;
	color: #999;
	font-size: 16px;
	font-weight: 500;
	border-radius: 100px;
	border: 1px solid rgba(0, 0, 0, 0.1);
	padding: 10px 20px;
	overflow: hidden;
	transition: background-color 0.3s ease;
	@media (any-hover: hover) {
		&:hover {
			background: rgba(0, 0, 0, 0.1);
			& span {
				transform: translateY(-150%);
			}
			&::before {
				transform: none;
			}
		}
	}
	& span {
		transition: transform 0.15s ease;
		display: inline-block;
	}
	&::before {
		content: attr(data-title);
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		text-align: center;
		padding: 10px 20px;
		transition: transform 0.15s ease;
		transform: translateY(150%);
	}
}

.color-accent {
	color: #163a2d;
}

.underline-decor {
	position: relative;
	white-space: nowrap;

	&::before {
		content: "";
		position: absolute;
		top: calc(100% - em(10, 72));
		left: 0;
		width: em(328, 72);
		height: em(15, 72);
		max-width: 100%;
		background-size: contain;
		background-position: center;
		background-repeat: no-repeat;
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='328' height='15' viewBox='0 0 328 15' fill='none'%3E%3Cpath d='M202.862 0.0498194C213.672 0.0498194 224.492 -0.0801818 235.292 0.0798182C251.092 0.319818 266.892 0.529844 282.682 1.19984C294.462 1.69984 306.272 2.14983 317.922 4.24983C320.432 4.69983 322.902 5.34983 325.162 6.55983C326.322 7.17983 327.992 7.60982 327.902 9.23982C327.812 11.0598 325.982 11.2098 324.662 11.6498C321.362 12.7498 317.912 13.0298 314.462 13.1898C307.192 13.5198 299.942 12.7298 292.682 12.5498C287.062 12.4098 281.452 11.8098 275.822 11.6898C257.482 11.3098 239.152 10.7298 220.802 10.4098C186.822 9.80983 152.852 9.83984 118.882 10.0698C98.4522 10.1998 41.0622 11.4498 20.7322 13.5298C15.1422 14.0998 9.51217 14.5298 3.87217 14.3998C2.22217 14.3598 0.312171 14.5298 0.0321706 12.3198C-0.267829 9.96984 1.58215 9.19983 3.42215 8.80983C10.6222 7.28983 17.9322 6.38984 25.2222 5.40984C47.4822 2.40984 106.852 1.36985 129.292 0.919845C153.812 0.419845 178.332 -0.0401611 202.852 0.0698389L202.862 0.0498194Z' fill='%23163A2D'/%3E%3C/svg%3E");
	}
}

.underline-decor-lg {
	@extend .underline-decor;
	&::before {
		width: em(605, 72);
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='606' height='15' viewBox='0 0 606 15' fill='none'%3E%3Cpath d='M480.862 0.0498194C491.672 0.0498194 502.492 -0.0801818 513.292 0.0798182C529.092 0.319818 544.892 0.529844 560.682 1.19984C572.462 1.69984 584.272 2.14983 595.922 4.24983C598.432 4.69983 600.902 5.34983 603.162 6.55983C604.322 7.17983 605.992 7.60982 605.902 9.23982C605.812 11.0598 603.982 7.20983 602.662 7.64983C599.362 8.74983 595.912 9.02983 592.462 9.18983C585.192 9.51983 577.942 8.72982 570.682 8.54982C565.062 8.40982 559.452 7.80983 553.822 7.68983C535.482 7.30983 517.152 6.72984 498.802 6.40983C464.822 5.80983 152.852 9.83984 118.882 10.0698C98.4522 10.1998 41.0622 11.4498 20.7322 13.5298C15.1422 14.0998 9.51217 14.5298 3.87217 14.3998C2.22217 14.3598 0.312171 14.5298 0.0321706 12.3198C-0.267829 9.96984 1.58215 9.19983 3.42215 8.80983C10.6222 7.28983 17.9322 6.38984 25.2222 5.40984C47.4822 2.40984 106.852 1.36985 129.292 0.919845C153.812 0.419845 456.332 -0.0401611 480.852 0.0698389L480.862 0.0498194Z' fill='%23163A2D'/%3E%3C/svg%3E");
	}
}
.underline-decor-xl {
	@extend .underline-decor;
	&::before {
		width: em(806, 72);

		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='807' height='14' viewBox='0 0 807 14' fill='none'%3E%3Cpath d='M681.862 1.22955C692.672 1.22955 703.492 1.09955 714.292 1.25955C730.092 1.49955 745.892 1.70957 761.682 2.37957C773.462 2.87957 785.272 3.32956 796.922 5.42956C799.432 5.87956 801.902 6.52956 804.162 7.73956C805.322 8.35956 806.992 8.78955 806.902 10.4196C806.812 12.2396 804.982 10.3896 803.662 10.8296C800.362 11.9296 796.912 10.2096 793.462 10.3696C786.192 10.6996 778.942 9.90955 771.682 9.72955C766.062 9.58955 760.452 8.98956 754.822 8.86956C736.482 8.48956 718.152 7.90956 699.802 7.58956C665.822 6.98956 152.852 9.01957 118.882 9.24957C98.4522 9.37957 41.0622 10.6296 20.7322 12.7096C15.1422 13.2796 9.51217 13.7096 3.87217 13.5796C2.22217 13.5396 0.312171 13.7096 0.0321706 11.4996C-0.267829 9.14957 1.58215 8.37956 3.42215 7.98956C10.6222 6.46956 17.9322 5.56957 25.2222 4.58957C47.4822 1.58957 106.852 0.549575 129.292 0.0995749C153.812 -0.400425 657.332 1.13957 681.852 1.24957L681.862 1.22955Z' fill='%23163A2D'/%3E%3C/svg%3E");
	}
}

.font-weight-semibold {
	font-weight: 600;
}

.font-weight-medium {
	font-weight: 500;
}

.font-weight-extrabold {
	font-weight: 800;
}

.rounded-md {
	border-radius: 40px !important;
}

.rounded-sm {
	border-radius: 20px !important;
}

.card {
	border-color: rgba(0, 0, 0, 0.1);
}

.bg-light {
	background: $light !important;
}

.slick-arrow {
	position: static;
	vertical-align: middle;
	font-size: 0;
	background: #c58d30;
	color: #fff;

	display: inline-flex;
	justify-content: center;
	align-items: center;
	transition:
		background-color 0.3s ease,
		border-color 0.3s ease,
		color 0.3s ease,
		opacity 0.3s ease,
		visibility 0.3s ease;
	z-index: 2;
	width: 35px;
	height: 35px;
	border-radius: 4px;
	font-size: 0;
	&::before {
		font-size: 18px;
		@media (min-width: $md3) {
			font-size: 24px;
		}
	}
	@media (min-width: $md3) {
		border-radius: 12px;
		height: 62px;
		width: 62px;
	}

	@media (any-hover: hover) {
		&:hover {
			background: $accent;
			border-color: $accent;
			color: #fff;
		}
	}
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	&.slick-disabled {
		opacity: 0.6;
		pointer-events: none;
		// visibility: hidden;
	}
	&.slick-next {
		right: 0;
		&::before {
			// @extend %ic, .icon-arrow-right;
		}
	}

	&.slick-prev {
		left: 0;
		&::before {
			// @extend %ic, .icon-arrow-left;
		}
	}
}

.breadcrumb {
	font-family: Arial;
	color: #656363;
	&-item {
		&.active {
			color: #000;
		}
		& + .breadcrumb-item {
			padding-left: 9px;
			@media (min-width: $md5) {
				padding-left: 18px;
			}

			&::before {
				margin-right: 9px;
				padding-right: 0;
				content: "";
				width: 5px;
				height: 5px;
				background: currentColor;
				border-radius: 50%;
				display: block;
				@media (min-width: $md5) {
					margin-right: 18px;
				}
			}
		}
	}
	&-link {
		gap: 9px;
		@media (min-width: $md5) {
			gap: 18px;
		}
	}
}

.favorite-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	background: #fff;
	color: #656363;
	border-radius: 50%;
	cursor: pointer;
	user-select: none;
	transition: all 0.15s ease-in;
	position: absolute;
	top: 16px;
	right: 16px;
	z-index: 2;
	font-size: 24px;
	width: 40px;
	height: 40px;
	&.active {
		&::before {
			color: #ff004c;
			animation: pulse 0.3s ease-in-out;
			@keyframes pulse {
				0% {
					transform: scale(1);
				}
				50% {
					transform: scale(1.4);
				}
				100% {
					transform: scale(1);
				}
			}
		}
	}
	@media (any-hover: hover) {
		&:hover {
			color: #ff004c;
		}
	}
}

// ========== ВСПОМОГАТЕЛЬНЫЕ КЛАССЫ ======
.hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.cover-image {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

// ========== ВСПОМОГАТЕЛЬНЫЕ КЛАССЫ ======

//============ МОДУЛИ ====================
@import "modules/popup";
@import "modules/tooltip";
// @import "modules/select";
// @import "modules/stepper";
//============ МОДУЛИ ====================

// Стилизация селекта
// $selectBg: $orange;
// $selectColor: $mainColor;

// ::-moz-selection {
// 	color: $selectColor;
// 	background-color: $selectBg;
// 	box-shadow: none;
// }
// ::selection {
// 	color: $selectColor;
// 	background-color: $selectBg;
// 	-webkit-box-shadow: none;
// 	box-shadow: none;
// }
// ::-moz-selection {
// 	color: $selectColor;
// 	background-color: $selectBg;
// 	box-shadow: none;
// }

// Стилизация скролла

// $scrollbarColor: $orange;
// $scrollbarHover: darken(
// 	$color: $orange,
// 	$amount: 10,
// );

// ::-webkit-scrollbar {
// 	width: 8px;
// }
// ::-webkit-scrollbar-track {
// 	background: #fff;
// }
// ::-webkit-scrollbar-thumb {
// 	background: $scrollbarColor;
// 	border-radius: 8px;
// 	@media (any-hover: hover) {
// 		&:hover {
// 			background: $scrollbarHover;
// 		}
// 	}
// }

//============ ОБЩИЕ ЭЛЕМЕНТЫ ============
