@import "modules/config";

.title {
	font-weight: 500;
	line-height: 100%;
	font-size: 26px;
	@media (min-width: $md5) {
		font-size: 32px;
	}
	@media (min-width: $md4) {
		font-size: 40px;
	}
	@media (min-width: $md3) {
		font-size: 48px;
	}
	@media (min-width: $md2) {
		font-size: 56px;
	}
	@media (min-width: $md1) {
		font-size: 62px;
	}
	@media (min-width: $md0) {
		font-size: 72px;
	}
}

.title-xxl {
	font-weight: 500;
	line-height: 95%;
	letter-spacing: em(-2.4, 80);
	font-size: 28px;
	@media (min-width: $md5) {
		font-size: 32px;
	}
	@media (min-width: $md4) {
		font-size: 40px;
	}
	@media (min-width: $md3) {
		font-size: 50px;
	}
	@media (min-width: $md2) {
		font-size: 60px;
	}
	@media (min-width: $md1) {
		font-size: 70px;
	}
	@media (min-width: $md0) {
		font-size: 80px;
	}
}

.title-sm {
	line-height: 120%;
	font-size: 20px;
	font-weight: 500;
	@media (min-width: $md4) {
		font-size: 30px;
	}
	@media (min-width: $md2) {
		font-size: 36px;
	}
	@media (min-width: $md0) {
		font-size: 42px;
	}
}

.caption {
	color: #62615b;
	font-weight: 600;
	line-height: 115%;
	font-size: 20px;
	@media (min-width: $md2) {
		font-size: 24px;
	}
}

.category {
	position: relative;
	color: #999;
	font-size: 16px;
	font-weight: 500;
	border-radius: 100px;
	border: 1px solid rgba(0, 0, 0, 0.1);
	padding: 10px 20px;
	overflow: hidden;
	transition: background-color 0.3s ease;
	@media (any-hover: hover) {
		&:hover {
			background: rgba(0, 0, 0, 0.1);
			& span {
				transform: translateY(-150%);
			}
			&::before {
				transform: none;
			}
		}
	}
	& span {
		transition: transform 0.15s ease;
		display: inline-block;
	}
	&::before {
		content: attr(data-title);
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		text-align: center;
		padding: 10px 20px;
		transition: transform 0.15s ease;
		transform: translateY(150%);
	}
}

.color-accent {
	color: #163a2d;
}

.underline-decor {
	position: relative;
	white-space: nowrap;
	&::before {
		content: "";
		position: absolute;
		top: 100%;
		left: 0;
		width: em(328, 72);
		height: em(15, 72);
		background-size: contain;
		background-position: center;
		background-repeat: no-repeat;
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='328' height='15' viewBox='0 0 328 15' fill='none'%3E%3Cpath d='M202.862 0.0498194C213.672 0.0498194 224.492 -0.0801818 235.292 0.0798182C251.092 0.319818 266.892 0.529844 282.682 1.19984C294.462 1.69984 306.272 2.14983 317.922 4.24983C320.432 4.69983 322.902 5.34983 325.162 6.55983C326.322 7.17983 327.992 7.60982 327.902 9.23982C327.812 11.0598 325.982 11.2098 324.662 11.6498C321.362 12.7498 317.912 13.0298 314.462 13.1898C307.192 13.5198 299.942 12.7298 292.682 12.5498C287.062 12.4098 281.452 11.8098 275.822 11.6898C257.482 11.3098 239.152 10.7298 220.802 10.4098C186.822 9.80983 152.852 9.83984 118.882 10.0698C98.4522 10.1998 41.0622 11.4498 20.7322 13.5298C15.1422 14.0998 9.51217 14.5298 3.87217 14.3998C2.22217 14.3598 0.312171 14.5298 0.0321706 12.3198C-0.267829 9.96984 1.58215 9.19983 3.42215 8.80983C10.6222 7.28983 17.9322 6.38984 25.2222 5.40984C47.4822 2.40984 106.852 1.36985 129.292 0.919845C153.812 0.419845 178.332 -0.0401611 202.852 0.0698389L202.862 0.0498194Z' fill='%23163A2D'/%3E%3C/svg%3E");
	}
}

.font-weight-semibold {
	font-weight: 600;
}

.font-weight-medium {
	font-weight: 500;
}

.font-weight-extrabold {
	font-weight: 800;
}

.rounded-md {
	border-radius: 40px !important;
}

.rounded-sm {
	border-radius: 20px !important;
}

.card {
	border-color: rgba(0, 0, 0, 0.1);
}

.bg-light {
	background: $light !important;
}

.slick-arrow {
	position: static;
	vertical-align: middle;
	font-size: 0;
	background: #c58d30;
	color: #fff;

	display: inline-flex;
	justify-content: center;
	align-items: center;
	transition:
		background-color 0.3s ease,
		border-color 0.3s ease,
		color 0.3s ease,
		opacity 0.3s ease,
		visibility 0.3s ease;
	z-index: 2;
	width: 35px;
	height: 35px;
	border-radius: 4px;
	font-size: 0;
	&::before {
		font-size: 18px;
		@media (min-width: $md3) {
			font-size: 24px;
		}
	}
	@media (min-width: $md3) {
		border-radius: 12px;
		height: 62px;
		width: 62px;
	}

	@media (any-hover: hover) {
		&:hover {
			background: $accent;
			border-color: $accent;
			color: #fff;
		}
	}
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	&.slick-disabled {
		opacity: 0.6;
		pointer-events: none;
		// visibility: hidden;
	}
	&.slick-next {
		right: 0;
		&::before {
			// @extend %ic, .icon-arrow-right;
		}
	}

	&.slick-prev {
		left: 0;
		&::before {
			// @extend %ic, .icon-arrow-left;
		}
	}
}

.breadcrumb {
	font-family: Arial;
	color: #656363;
	&-item {
		&.active {
			color: #000;
		}
		& + .breadcrumb-item {
			padding-left: 9px;
			@media (min-width: $md5) {
				padding-left: 18px;
			}

			&::before {
				margin-right: 9px;
				padding-right: 0;
				content: "";
				width: 5px;
				height: 5px;
				background: currentColor;
				border-radius: 50%;
				display: block;
				@media (min-width: $md5) {
					margin-right: 18px;
				}
			}
		}
	}
	&-link {
		gap: 9px;
		@media (min-width: $md5) {
			gap: 18px;
		}
	}
}

// ========== ВСПОМОГАТЕЛЬНЫЕ КЛАССЫ ======
.hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.cover-image {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

// ========== ВСПОМОГАТЕЛЬНЫЕ КЛАССЫ ======

//============ МОДУЛИ ====================
@import "modules/popup";
// @import "modules/tooltip";
// @import "modules/select";
// @import "modules/stepper";
//============ МОДУЛИ ====================

// Стилизация селекта
// $selectBg: $orange;
// $selectColor: $mainColor;

// ::-moz-selection {
// 	color: $selectColor;
// 	background-color: $selectBg;
// 	box-shadow: none;
// }
// ::selection {
// 	color: $selectColor;
// 	background-color: $selectBg;
// 	-webkit-box-shadow: none;
// 	box-shadow: none;
// }
// ::-moz-selection {
// 	color: $selectColor;
// 	background-color: $selectBg;
// 	box-shadow: none;
// }

// Стилизация скролла

// $scrollbarColor: $orange;
// $scrollbarHover: darken(
// 	$color: $orange,
// 	$amount: 10,
// );

// ::-webkit-scrollbar {
// 	width: 8px;
// }
// ::-webkit-scrollbar-track {
// 	background: #fff;
// }
// ::-webkit-scrollbar-thumb {
// 	background: $scrollbarColor;
// 	border-radius: 8px;
// 	@media (any-hover: hover) {
// 		&:hover {
// 			background: $scrollbarHover;
// 		}
// 	}
// }

//============ ОБЩИЕ ЭЛЕМЕНТЫ ============
